*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
*.pid
*.log

# Tags

TAGS

# gcov/lcov

*.gcno
*.gcda
*.trace

# unit tests

tests/unit/*_test
tests/test-db

# emacs

*~
\#*#

# eclipse

.cproject
.project
.settings

# netbeans

GUI2/nbproject
rest/nbproject

# qt-creator

nova.config
nova.creator
nova.creator.user
nova.files
nova.includes
