*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
*.pid
*.log

*.DS_Store
# Tags

TAGS

# gcov/lcov

*.gcno
*.gcda
*.trace

# unit tests

tests/unit/*_test
tests/test-db

# emacs

*~
\#*#
src/.dir-locals.el

# eclipse

.cproject
.project
.settings

# netbeans

GUI2/nbproject
rest/nbproject

# qt-creator

nova.config
nova.creator
nova.creator.user
nova.files
nova.includes

# knowledge

knowledge/*.html
knowledge/*.cf
knowledge/check_km_substrings
knowledge/scan_examples
knowledge/scan_texinfo
knowledge/highlight_syntax
knowledge/*.trans
