*.la
*.lo
*.o
.deps
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal
aclocal.m4
autom4te.cache
conf.h
conf.h.in
conf.h.in~
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
mdate-sh
missing
mkinstalldirs
stamp-h1
ylwrap
