/* 
    Document   : appstyle
    Created on : Mar 17, 2011, 5:44:51 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

@font-face {
    font-family: "Myriad Pro";
    src: url(fonts/MyriadPro-Regular.eot);
}

body {
    background: url("../images/bg_tile.png") repeat-x scroll 0 0 #2B7B98;
    color: #fff;
    font-family: "Trebuchet MS",Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    /*text-shadow: white 0px 1px 0px;*/
}

#wrapper{
    width:80%;
    min-width: 960px;
    /*border: solid 1px red;*/
    margin:0 auto;
}

.amber {
    background-color: #F79131;
}

.red {
    background-color: #AA0000;
}


#header p,ul
{
margin:0
}

#header_left .sitetitle
{
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 25px;
}
#header_left ul li
{
    list-style: none
}

p#userbox{
    background: url("../images/logged_in_as.png") no-repeat scroll 0 7px transparent;
    float: right;
    margin-top:10px;
    padding: 5px 0 0 18px;
    font-size: 14px;

}

p#userbox a{
    color: #CEAC0F;
    text-decoration: none;
    font-size: 14px;
}

#breadcrumb
{
    margin-top: 25px;
    margin-bottom:10px;
}
#breadcrumb li{
    float:left;
}

#breadcrumb li span.back{
    background: url("../images/breadcrumb_back.png") no-repeat;
    width:10px;
    height:20px;
    display:inline-block;
    background-position: center;
    float: left;
    margin-left: -6px;
}

#breadcrumb li span.front{
    background: url("../images/breadcrumb_front.png") no-repeat;
    width:10px;
    height:20px;
    display:inline-block;
    background-position: center;
    float: left;
}

#breadcrumb li a{
    text-transform: uppercase;
    color:#000000;
    background: url("../images/breadcrumb_body.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    padding-right:5px;
}

#webadmin
{
    float:right;
    width:100%;
}

.adminbtn{
    background: url("../images/admin.png") no-repeat;
    width:55px;
    height:55px;
    display:block;
    margin: 0 10px 10px 10px;
    float:right;
}

.settingbtn{
    background: url("../images/settings.png") no-repeat;
    width:55px;
    height:55px;
    display:block;
    float:right;

}

.clearright{
    clear:right;
}

.clearleft{
    clear:left;
}

.clearboth{
    clear:both;
}




#searcharea
{
    float: right;
    margin-top:30px;
}
#searcharea form
{
    width: 208px;
}
#searchbox
{
    background: url("../images/searchbar.png") no-repeat;
    display: block;
    height: 25px;
    width: 208px;
}

label#searchbox input
{
    background: none repeat scroll 0 0 transparent;
    font:9pt Helvetica,Arial,Tahoma,sans-serif;
    border: medium none;
    color: #666666;
    outline: medium none;
    padding: 4px 0 0 23px;
    width:220px;
}

#body{
    color: #000000;
}
#body .left{
    background: url("../images/box_main_left.png") no-repeat;
    min-width:11px;
    height:511px;
    float:left;
}

#body .middle{
    background: url("../images/box_main_mid_tile.png") repeat-x;
    height: 511px;
    float:left;
    min-width: 97.7%;
}

.licenseinfo{
    text-decoration: underline;
}

#body .right{
    background: url("../images/box_main_right.png") no-repeat;
    min-width:11px;
    height:511px;
    float:left;
}

/*for working pane*/
#work {

    margin-bottom: 10px;
    min-width: 960px;
}

#work .header{
    margin-top: 50px;
}
#work .header h1
{
    font-size: 42px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

#work .header p{
    font-size: 15px;
    text-align:center;
    margin: 25px 0 0 0;
}

#work .dash{
    margin-top: 85px;
}

#work .dash ul{
    list-style: none;
    margin: 0 auto;
    width: 500px;
}

#work .dash ul li{
    float:left;
    margin:20px;
    text-align: center;
    list-style: none;
}

#work .dash ul li a{
    width:85px;
    display:block;
    padding-top: 85px;
    font-size: 11px;
    color:#717171;
}

#work .dash a.status{
    background: url("../images/status.png") no-repeat;
}

#work .dash a.library{
    background: url("../images/library.png") no-repeat;
}

#work .dash a.engineering{
    background: url("../images/engineering.png") no-repeat;
}

#work .dash a.planning{
    background: url("../images/planning.png") no-repeat;
}

#tagCloud {
    width:290px; background-color:#575454; text-align:center; padding:5px;
    overflow:auto; font-size:70%; font-family:arial;
}  
#tagList { margin:0; padding:0; }
#tagList li {
    list-style-type:none; float:left; margin:0 10px; height:35px;
}
#tagList li a { text-decoration:none; color:#ffffff; }
#tagList li a:hover {text-decoration:underline; }

#tagList li.selected
{
    border:solid 2px red;
    -moz-border-radius: 10px;
    border-radius:10px;
}

#tagList li.focused
{
    background: green;
    color:#000000;
}

#tgmatchedresult
{
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin-top: 2px;
    opacity: 0.9;
    padding: 4px;
    position: absolute;
    right: 10.5%;
    text-align: center;
    width: 167px;
    z-index: 1;
}

.loading{
    background: url("../images/ajax-loader.gif") no-repeat;
    width:31px;
    height:31px;
    margin:auto auto;
}

.operation{
    background: none repeat scroll 0 0 #3D453A;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    opacity: 0.9;
    padding: 2px;
    right: 0;
    -moz-border-radius: 5px;
    border-radius:5px;
}

#tgoptions{
    display: block;
    font-size: 11px;
    font-weight: normal;
    left: 12%;
    opacity: 0.9;
    padding: 1px 0;
    position: absolute;
    width: 140px;
    z-index: 1;
    -moz-border-radius: 5px;
    border-radius:5px;
}

#tgoptions li:first-child
{
    -moz-border-radius: 5px;
    border-radius:5px;
}

#tgoptions li:last-child
{
    -moz-border-radius: 5px;
    border-radius:5px;
}

#tgoptions li:hover,#tgoptions li.selected
{
    color:#ff9900;
}



#tgoptions li{
    background: none repeat scroll 0 0 #3D453A;
    padding:4px;
    color:#fff;
    cursor:pointer;
}


#searchclass span.search
{
    background: url("../images/searchbar.png") no-repeat scroll 0 0 transparent;
    position:absolute;
    top:10%;
    right:5%;
    display:block;
    width:220px;
    height:25px;
}
#searchclass span.search input
{
    background: none repeat scroll 0 0 transparent;
    font:9pt Helvetica,Arial,Tahoma,sans-serif;
    border: medium none;
    color: #666666;
    outline: medium none;
    padding: 4px;
    width:220px;
}
/*
styles for status page may be mergerd in the future
*/

body {
    background: url("../images/icons/bg_tile.png") repeat-x scroll 0 0 #2B7B98;
}
#bodystatus .left{
    background: url("../images/icons/box_main_left.png") no-repeat;
    min-width:7px;
    height:594px;
    float:left;
}

#bodystatus .middle{
    background: url("../images/icons/box_main_mid_tile.png") repeat-x;
    height: 594px;
    float:left;
}

.minwidth80{
    min-width: 71.4%;
}

.minwidth20{
    min-width: 25%;
    width:25%;
}

#bodystatus .right{
    background: url("../images/icons/box_main_right.png") no-repeat;
    min-width:11px;
    height:594px;
    float:left;
}

.innerdiv{

    border: solid 1.5px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius:5px;
    background: #fff;
    color:#4d4d4d;
}

.title
{
    font-size: 14px;
    text-decoration: underline;
    color:#4d4d4d;
    padding-top: 20px;
    padding-left:10px
}

#overall
{
    margin:15px 8px 5px 8px;
    height:200px;
}

#overall p span
{
    display:inline-block;
    cursor: pointer;

}


span#alltime
{
    background: url("../images/all_time.png") no-repeat;
    width:61px;
    height:21px;
    margin:0 2px 0px 2px;
}

span#thisweek
{
    background: url("../images/this_week.png") no-repeat;
    width:61px;
    height:21px;
    margin:0 2px 0px 2px;
}

span#today
{
    background: url("../images/today.png") no-repeat;
    width:61px;
    height:21px;
    margin:0 15px 0px 2px;
}

#compliance
{
    margin:0 8px 22px 8px;
    padding-bottom:20px;
}

#compliance span{
    text-align: center;
}

#compliance .title
{
    padding-top: 20px;
    padding-left:20px
}

#environment-list
{
    padding-bottom: 3px;
}
#environment-list ul, #environment-list ul li {
    list-style: none;
    margin:0px;
    padding: 0px;
}
#environment-list ul {        
    text-align: center;
}
#environment-list ul li {
    display: inline;
}
#environment-list ul li  span{

    width:5px;
    height:21px;
    padding-bottom:5px;
    padding-top:1px;

}
#environment-list ul li a {
    background: url("../images/env_btn_middle.png") repeat-x left center;
    padding:4px 5px 5px 5px;
}

#environment-list li span.front
{
    background: url("../images/env_btn_front.png") no-repeat left top;
    padding-left: 5px;
}


#environment-list li span.rear
{
    background: url("../images/env_btn_rear.png") no-repeat right top;
    padding-right: 5px;



}

#compliancemeter{
    background: #4d4d4d;
    border:solid 1px #c8c8c8;
    -moz-border-radius: 5px;
    border-radius:5px;
    width:90%;
    margin:0 auto;
}

#environment-list  li{
    position:relative;
}

#environment-list  li.selected span{
    width:6px;
    height:25px;
    padding-bottom:6px;
    padding-top:3px;
}

#environment-list  li.selected span.front
{
    background: url("../images/env_selected_front.png") no-repeat left top;
    padding-left:6px;
}

#environment-list li.selected span.rear
{
    background: url("../images/env_selected_rear.png") no-repeat left top;
    padding-right:6px;
}

#environment-list li.selected a
{
    background: url("../images/env_selected_middle.png") repeat-x left center;
    padding:6px;
}

.tippointer{
    background: url("../images/select_arrow.png") no-repeat;
    position:absolute;
    width:12px;
    height:6px;
    z-index: 100;
}


#announcement
{
    margin:15px 8px 5px 8px;
    height:241px
}

#goals
{
    margin:0 8px 22px 8px;
    min-height:311px;
}

#goals ul
{
    padding:20px 10px;
}

#goals li{
    padding:8px 0 5px 0;
    border-bottom:#4D4D4D 1px dashed;
}

#goals ul li:last-child {border:none}

#goals li span{
    word-wrap: break-word;
}

#goals ul li:first-letter
{
    text-transform:uppercase
}

#goals li span.goal{
    color:#e41b5b;

}

#goals li span.check
{
    float:right;
    background:  url("../images/check.png") no-repeat;
    width:10px;
    height:17px;
    display:inline-block
}


/* host finder control*/
span.search
{
    background: url("../images/searchbar.png") no-repeat scroll 0 0 transparent;
    position:absolute;
    top:30%;
    right:5%;
    display:block;
    width:220px;
    height:25px;
}
span.search input
{
    background: none repeat scroll 0 0 transparent;
    font:9pt Helvetica,Arial,Tahoma,sans-serif;
    border: medium none;
    color: #666666;
    outline: medium none;
    padding: 4px;
    width:220px;
}

.customdlg
{
    background: #3d453a;
    /*background: url("images/ui-bg_glass_75_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;*/
    border: 1px solid #3d453a;
    color: #222222;
}

.customdlg #classlistcontainer
{
    background: #fff;
}
.customdlg #hostfinderctrl
{
    background:#fff;
}

.customdlg #policylistcontainer
{
    background:#fff;
}

.customdlg #reportlistcontainer
{
    background:#fff;
}
.customdlg .ui-widget-header{
    color:#FFF;
    background: #3d453a;
    border: none;
}

.customdlg .ui-widget-header .ui-dialog-titlebar-close{
    top:20%;
    right:-0.3em
}

.customdlg .ui-widget-header .ui-icon{
    background:url('../images/close.png');
    height:10px;
    width:10px;
}

.customdlg .ui-widget-header .ui-icon-closethick{
    background-position: 0 0;
}

.customdlg .ui-widget-header .ui-dialog-title{
    font-size: 21px;
    text-transform: uppercase;
    font-weight: normal;
    padding:12px 0;
}

.categories
{
    position:absolute;
    top:80%;
    right:14%;
    font-weight: normal;
    width:150px;
    z-index:1;
    background:#3d453a;
    padding:20px 0;
    font-size: 11px;
  border-radius:0 0 5px 5px;
}

.categories li
{
    padding:5px 0;
    margin:0 10px;
    border-bottom:#fff 1px dashed;
    cursor: pointer;
    list-style: none;
}

.categories li:hover,#categories li.selected
{
    color:#ff9900;
}
.categories li:last-child
{
    border:none;
    padding:0 0;
}

.alphasearch{
    position:absolute;
    right:25px;
    top:80px;
    text-align: center;
}


.result li
{
    border-bottom:solid 1px #3d453a;
    height:44px;
    width:96.5%;
    list-style: none;
}

.result li a
{
    display:block;
    padding-top:15px;
}

.alphasearch li
{
    margin-top: 2px;
    margin-bottom: 2px;
    list-style: none;
}

.alphasearch li:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.alphasearch li.selected
{
    background: none repeat scroll 0 0 #4D4D4D;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
}

.unmatched
{
  display:none;
}


#searchresult{
    width:98%;
    float:left;
}

#filters ul{
    text-align: left;
    padding:3px;
}

#filters ul li{
    display:inline-block;
    padding:5px 15px 5px 5px;
    position:relative;
    border:solid 1px red;
    background: #e7eed9;
    border: solid 1.5px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius:5px;
    color:#4D4D4D;
    font-size: 11px;
}

#filters ul li a{
    background: none repeat scroll 0 0 #D4D5D0;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size: 7px;
    height: 10px;
    line-height: 8px;
    position: absolute;
    right: 0.2em;
    text-align: center;
    top: 0.2em;
    width: 10px;

}

#filters ul li a:hover{
    background: none repeat scroll 0 0 #fff;
    color: #D4D5D0;
}


/* licensemeter */
#licensebar{
    height: 10px;
    text-align: center;
    color: #717171;
    font-family: Trebuchet MS;
    font-size: 11px;
    margin-top:70px;
}

/* classfinder */

.btnoptions{
    display: block;
    font-size: 11px;
    font-weight: normal;
    left: 12%;
    opacity: 0.9;
    padding: 1px 0;
    position: absolute;
    width: 140px;
    z-index: 1;
    -moz-border-radius: 5px;
    border-radius:5px;
}

.btnoptions li:first-child
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius:5px 5px 0 0;
}

.btnoptions li:last-child
{
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}

.btnoptions li:hover,#tgoptions li.selected
{
    color:#ff9900;
}



.btnoptions li{
    background: none repeat scroll 0 0 #3D453A;
    padding:4px;
    color:#fff;
    cursor:pointer;
}

/**for policy finder**/
#policyList li a
{
    padding-top: 0;
    
}
#policyList li a p
{
  margin:10px 0 0 3px;
  float:left;
}
#policyList li a
{
    padding-top: 0;

}
#policyList .type{
 background: none repeat scroll 0 0 #F0F0F0;
 display: block;
 float: left;
 padding: 14px 5px;
}
#policyList .promiser{
  display:block;
  max-height: 16px;
  max-width: 550px;
  overflow: hidden;
}

#policyList .handle{
}

#policyList .bundle{
  
}

/*reportdialog*/
#repdialog
{
    background: #3d453a;
    color:#fff;
    opacity:0.9;
    z-index:1500;
    position:absolute;
    top:0;
    left:0;
    -moz-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
    width:100%;
}

.panelhead{
  padding:10px;
  position:relative;
}


.panelcontent p
{
    margin: 0;
    padding: 5px 10px;
}

.panelcontent input.searchfield
{
    display:block;
    width:90%;
    border:solid 1px #cecece;
    padding-top:4px;
    margin-top:2px;
    z-index: auto !important
}
/****************************/
.alert{
    background: #D8000C;
    border: solid 1px red;
}

#footer p{
    color:#08a3c1;
}


/* FOR KNOWLEDGE MAP */
.node{
    background-color: #ccccff;
    border: 1px;
    -moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
}
