/* 
    Document   : appstyle
    Created on : Mar 17, 2011, 5:44:51 PM
    Author     : cfengine
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

@font-face {
    font-family: "Myriad Pro";
    src: url(fonts/MyriadPro-Regular.eot);
}

body {
    background: url("../images/bg_tile.png") repeat-x scroll 0 0 #A5ACA2;
    color: #fff;
    font-family: "Trebuchet MS",Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    /*text-shadow: white 0px 1px 0px;*/
}

#wrapper{
    width:80%;
    min-width: 960px;
    /*border: solid 1px red;*/
    margin:0 auto;
}

.amber {
    /*background-color: #F79131;*/
    background-color: #d3be4a;
}

.red {
    /*background-color: #AA0000;*/
    background-color:#FF475B
}


#header p,ul
{
    margin:0
}

#header_left .sitetitle
{
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 25px;
}
#header_left ul li
{
    list-style: none
}

p#userbox{
    background: url("../images/logged_in_as.png") no-repeat scroll 0 7px transparent;
    float: right;
    margin-top:10px;
    padding: 5px 0 0 18px;
    font-size: 14px;

}

p#userbox a{
    color: #CEAC0F;
    text-decoration: none;
    font-size: 14px;
}

.online_users
{
    display:block;
    font-size:11px;
    margin-bottom: 15px;
    text-align: right;
}

#breadcrumb
{
    margin-top: 25px;
    margin-bottom:10px;
}
#breadcrumb li{
    float:left;
}

#breadcrumb li span.back{
    background: url("../images/breadcrumb_back.png") no-repeat;
    width:10px;
    height:20px;
    display:inline-block;
    background-position: center;
    float: left;
    margin-left: -6px;
}

#breadcrumb li span.front{
    background: url("../images/breadcrumb_front.png") no-repeat;
    width:10px;
    height:20px;
    display:inline-block;
    background-position: center;
    float: left;
}

#breadcrumb li a{
    text-transform: uppercase;
    color:#000000;
    background: url("../images/breadcrumb_body.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    padding-right:5px;
}

#webadmin
{
    float:right;
    width:100%;
}

.adminbtn{
    background: url("../images/admin.png") no-repeat;
    width:55px;
    height:55px;
    display:block;
    margin: 0 10px 10px 10px;
    float:right;
}

.settingbtn{
    background: url("../images/settings.png") no-repeat;
    width:55px;
    height:55px;
    display:block;
    float:right;

}

.clearright{
    clear:right;
}

.clearleft{
    clear:left;
}

.clearboth{
    clear:both;
}

.floatleft
{
    float:left;
}

.underline{
    text-decoration: underline;
}

.note_date
{
    display:none;
}

.display{
    display:inline;
    margin-left:15px;
    background: #D2E147
}


#searcharea
{
    float: right;
}
#searcharea form
{
    width: 208px;
}

#searchbox
{
    background: url("../images/searchbar.png") no-repeat;
    display: block;
    height: 25px;
    width: 208px;
}

label#searchbox input
{
    background: none repeat scroll 0 0 transparent;
    font:9pt Helvetica,Arial,Tahoma,sans-serif;
    border: medium none;
    color: #666666;
    outline: medium none;
    padding: 4px 0 0 23px;
    width:220px;
}

#bodyindex {
    color: #000000;
}

#bodyindex .left{
    background: url("../images/box_main_left.png") no-repeat;
    min-width:11px;
    min-height:511px;
    float:left;
}

#bodyindex .middle{
    background: url("../images/box_main_mid_tile.png") repeat-x;
    height: 511px;
    float:left;
    min-width: 97.7%;
}

.licenseinfo{
      background: none repeat scroll 0 0 #3D4439;
     border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    padding: 0 4px;
}

#bodyindex .right{
    background: url("../images/box_main_right.png") no-repeat;
    min-width:11px;
    height:511px;
    float:left;
}

/*for working pane*/
#work {

    margin-bottom: 10px;

}

#work .header{
    margin-top: 50px;
}
#work .header h1
{
    font-size: 42px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

#work .header p{
    font-size: 15px;
    text-align:center;
    margin: 25px 0 0 0;
}

#work .dash{
    margin-top: 85px;
}

#work .dash ul{
    width:500px;
}


.dash ul{
    list-style: none;
    margin: 0 auto;
}

.innerdiv.dash ul li,.dash ul li{
    float:left;
    margin:20px;
    text-align: center;
    list-style: none;
    padding:0;
}

.dash ul li a{
    width:85px;
    display:block;
    padding-top: 85px;
    font-size: 11px;
    color:#717171;
}


.dash a.status{
    background: url("../images/status.png") no-repeat;
}
.dash a.library{
    background: url("../images/library.png") no-repeat;
}
.dash a.engineering{
    background: url("../images/engineering.png") no-repeat;
}

.dash a.planning{
    background: url("../images/planning.png") no-repeat;
}

.dash a.host{
    background: url("../images/host.png") no-repeat;
}

.dash a.classes{
    background: url("../images/class.png") no-repeat;
}

.dash a.policies{
    background: url("../images/bundle.png") no-repeat;
}

.dash a.report{
    background: url("../images/report.png") no-repeat;
}

.dash a.repolink{
    background: url("../images/repos_finder.png") no-repeat;
}

.dash a.trackrecord{
    background: url("../images/track_record.png") no-repeat;
}

.dash a.approve{
    background: url("../images/approve_editor.png") no-repeat;
}


#library  a.docs{
    background: url("../images/docs.png") no-repeat;
}

#library  a.topic{
    background: url("../images/find_topic.png") no-repeat;
}

#library  a.knowledge-message{
    background: url("../images/message_archive.png") no-repeat;
}

#library  a.forum{
    background: url("../images/forum.png") no-repeat;
}


#tagCloud {
    width:290px; background-color:#575454; text-align:center; padding:5px;
    overflow:auto; font-size:70%; font-family:arial;
}  
#tagList { margin:0; padding:0; }
#tagList li {
    list-style-type:none; float:left; margin:0 10px; height:35px;
}
#tagList li a { text-decoration:none; color:#ffffff; }
#tagList li a:hover {text-decoration:underline; }

#tagList li.selected
{
    border:solid 2px red;
    -moz-border-radius: 10px;
    border-radius:10px;
    -opera-border-radius:10px;
    -khtml-border-radius:10px;
    -webkit-border-radius:10px;
}

#tagList li.focused
{
    background: green;
    color:#000000;
}

#tgmatchedresult
{
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin-top: 2px;
    opacity: 0.9;
    padding: 4px;
    position: absolute;
    right: 10.5%;
    text-align: center;
    width: 167px;
    z-index: 1;
}

.loading{
    background: url("../images/ajax-loader.gif") no-repeat;
    width:31px;
    height:31px;
    margin:auto auto;
}

.operation{
    background: none repeat scroll 0 0 #3D453A;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    opacity: 0.9;
    padding: 2px;
    right: 0;
    -moz-border-radius: 5px;
    border-radius:5px;
    -opera-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
}

#tgoptions{
    display: block;
    font-size: 11px;
    font-weight: normal;
    left: 12%;
    opacity: 0.9;
    padding: 1px 0;
    position: absolute;
    width: 140px;
    z-index: 1;
    -moz-border-radius: 5px;
    border-radius:5px;
    -opera-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
}

#tgoptions li:first-child
{
    -moz-border-radius: 5px;
    border-radius:5px;
    -opera-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
}

#tgoptions li:last-child
{
    -moz-border-radius: 5px;
    border-radius:5px;
    -opera-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
}

#tgoptions li:hover,#tgoptions li.selected
{
    color:#ff9900;
}



#tgoptions li{
    background: none repeat scroll 0 0 #3D453A;
    padding:4px;
    color:#fff;
    cursor:pointer;
}


#searchclass span.search
{
    background: url("../images/searchbar.png") no-repeat scroll 0 0 transparent;
    position:absolute;
    top:10%;
    right:5%;
    display:block;
    width:220px;
    height:25px;
}
#searchclass span.search input
{
    background: none repeat scroll 0 0 transparent;
    font:9pt Helvetica,Arial,Tahoma,sans-serif;
    border: medium none;
    color: #666666;
    outline: medium none;
    padding: 4px;
    width:220px;
}
/*
styles for status page may be mergerd in the future
*/

body {
    background: url("../images/icons/bg_tile.png") repeat-x scroll 0 0 #A5ACA2;
}

#body .left{
    background: url("../images/icons/box_main_left.png") no-repeat;
    min-width:7px;
    height:594px;
    float:left;
}

#body .middle{
    background: url("../images/icons/box_main_mid_tile.png") repeat-x;
    height: 594px;
    float:left;
}

.width80{
    width:80%;
}

.minwidth20{
    min-width: 25%;
    width:25%;
}

.minwidth98{
    min-width: 98%;
}

.minwidth30{
    min-width: 28%;
    width:28%;
}

.minwidth70{
    min-width: 67.5%;
}
#body .right{
    background: url("../images/icons/box_main_right.png") no-repeat;
    min-width:11px;
    height:594px;
    float:left;
}

.outerdiv
{
    border: 1px solid #fff;
    -moz-border-radius: 6px;
    -opera-border-radius:6px;
    -khtml-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:5px;

    background: #D4D4D4; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F0', endColorstr='#Cfcfc8'); /* for IE */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F0), to(#Cfcfc8));
    background: -moz-linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
    margin-bottom:10px

}
.innerdiv{

    border: solid 1.5px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius:5px;
    -opera-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    background: #fff;
    color:#4d4d4d;
    margin:15px;
    /*padding: 10px;*/
    padding:0.3em
}

.innerdiv ul li{
    list-style: none;
    padding-left: 10px;
}

.innerdiv a{
    color:#08A3C1;
}

.outerdiv a{
    color:#08A3C1;
}

.title
{
    font-size: 14px;
    text-decoration: underline;
    color:#4d4d4d;
    padding-top: 20px;
    padding-left:10px
}

#overall
{
    margin:15px 8px 5px 8px;
    height:200px;
}

#overall p span
{
    display:inline-block;
    cursor: pointer;

}


span#alltime
{
    background: url("../images/all_time.png") no-repeat;
    width:61px;
    height:21px;
    margin:0 2px 0px 2px;
}

span#thisweek
{
    background: url("../images/this_week.png") no-repeat;
    width:61px;
    height:21px;
    margin:0 2px 0px 2px;
}

span#today
{
    background: url("../images/today.png") no-repeat;
    width:61px;
    height:21px;
    margin:0 15px 0px 2px;
}

#compliance
{
    margin:0 8px 22px 8px;
    padding-bottom:20px;
}

#compliance span{
    text-align: center;
}

#compliance .title
{
    padding-top: 20px;
    padding-left:20px
}

#environment-list
{
    padding-bottom: 3px;
}
#environment-list ul, #environment-list ul li {
    list-style: none;
    margin:0px;
    padding: 0px;
}
#environment-list ul {        
    text-align: center;
}
#environment-list ul li {
    display: inline;
}
#environment-list ul li  span{

    width:5px;
    height:21px;
    padding-bottom:5px;
    padding-top:1px;

}
#environment-list ul li a {
    background: url("../images/env_btn_middle.png") repeat-x left center;
    padding:4px 5px 5px 5px;
    color:#4D4D4D;
}

#environment-list li span.front
{
    background: url("../images/env_btn_front.png") no-repeat left top;
    padding-left: 5px;
}


#environment-list li span.rear
{
    background: url("../images/env_btn_rear.png") no-repeat right top;
    padding-right: 5px;



}

#compliancemeter{
    background: #4d4d4d;
    border:solid 1px #c8c8c8;
    -moz-border-radius: 5px;
    border-radius:5px;
    -opera-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    width:90%;
    margin:0 auto;
}

#environment-list  li{
    position:relative;
}

#environment-list  li.selected span{
    width:6px;
    height:25px;
    padding-bottom:6px;
    padding-top:3px;
}

#environment-list  li.selected span.front
{
    background: url("../images/env_selected_front.png") no-repeat left top;
    padding-left:6px;
}

#environment-list li.selected span.rear
{
    background: url("../images/env_selected_rear.png") no-repeat left top;
    padding-right:6px;
}

#environment-list li.selected a
{
    background: url("../images/env_selected_middle.png") repeat-x left center;
    padding:6px;
}

.tippointer{
    background: url("../images/select_arrow.png") no-repeat;
    position:absolute;
    width:12px;
    height:6px;
    z-index: 100;
}


#announcement
{
    margin:15px 8px 5px 8px;
    height:241px
}

#goals
{
   
}
.statusgoal
{
  margin:0 8px 22px 8px;
  min-height:311px;
}

#goals ul
{
    padding:0 10px 20px;
}

#goals li{
    padding:8px 0 5px 0;
    border-bottom:#4D4D4D 1px dashed;
}

#goals ul li:last-child {border:none}

#goals li span{
    word-wrap: break-word;
}

#goals ul li:first-letter
{
    text-transform:uppercase
}

#goals li span.goal{
    color:#e41b5b;

}

#goals li span.check
{
    float:right;
    background:  url("../images/check.png") no-repeat;
    width:10px;
    height:17px;
    display:inline-block
}


/* host finder control*/
span.search
{
    background: url("../images/searchbar.png") no-repeat scroll 0 0 transparent;
    position:absolute;
    top:30%;
    right:5%;
    display:block;
    width:220px;
    height:25px;
}
span.search input
{
    background: none repeat scroll 0 0 transparent;
    font:9pt Helvetica,Arial,Tahoma,sans-serif;
    border: medium none;
    color: #666666;
    outline: medium none;
    padding: 4px;
    width:220px;
}

.customdlg
{
    background: #3d453a;
    /*background: url("images/ui-bg_glass_75_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;*/
    border: 1px solid #3d453a;
    color: #222222;
}

.customdlg #classlistcontainer
{
    background: #fff;
}
.customdlg #hostfinderctrl
{
    background:#fff;
}

.customdlg #policylistcontainer
{
    background:#fff;
}

.customdlg #reportlistcontainer
{
    background:#fff;
}

.customdlg #topiclistcontainer
{
    background:#fff;
}
.customdlg #topiclistcontainer li a
{
    color:#08A3C1;
}

.customdlg .ui-widget-header{
    color:#FFF;
    background: #3d453a;
    border: none;
}

.customdlg .ui-widget-header .ui-dialog-titlebar-close{
    top:20%;
    right:-0.3em
}

.customdlg .ui-widget-header .ui-icon{
    background:url('../images/close.png');
    height:10px;
    width:10px;
}

.customdlg .ui-widget-header .ui-icon-closethick{
    background-position: 0 0;
}

.customdlg .ui-widget-header .ui-dialog-title{
    font-size: 21px;
    text-transform: uppercase;
    font-weight: normal;
    padding:12px 0;
}

.categories
{
    position:absolute;
    top:80%;
    right:14%;
    font-weight: normal;
    width:150px;
    z-index:1;
    background:#3d453a;
    padding:20px 0;
    font-size: 11px;
    border-radius:0 0 5px 5px;
    -opera-border-radius: 0 0 5px 5px;
    -khtml-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
}

.categories li
{
    padding:5px 0;
    margin:0 10px;
    border-bottom:#fff 1px dashed;
    cursor: pointer;
    list-style: none;
}

.categories li:hover,.categories li.selected
{
    color:#ff9900;
}
.categories li:last-child
{
    border:none;
    padding:0 0;
}

.alphasearch{
    position:absolute;
    right:25px;
    top:80px;
    text-align: center;
}


.result li
{
    border-bottom:solid 1px #3d453a;
    /* height:44px;*/
    padding:12px 0;
    width:96.5%;
    list-style: none;
}

.result li.smartTextBox-elem
{
    border:none;
    padding:0;
    width:auto;
}
.result li.smartTextBox-box-elem
{
    padding:0 5px;
    background:#50574d;
}

.result li.smartTextBox-elem-box-focus
{
    background:#3d453a;
}

.result li a
{
    display:inline-block;
}

#policyList li
{
    padding:0;
}

#policyList li a
{
    display: inline;
}

#policyList li p
{
    display:inline-block;
    margin: 0;
    padding: 6px;
}

#classList a.name
{
    width:75%;
    overflow:hidden;
}

#classList .action
{
    margin: 0 10px; 
}

#classList .btn
{
    background: none repeat scroll 0 0 #E7EED9;
    border-radius: 10px 10px 10px 10px;
    font-size: 10px;
    padding: 2px 5px;
    cursor: pointer;
}

#findmatchedhost
{
    background: none repeat scroll 0 0 #E7EED9;
    border-radius: 3px 3px 3px 3px;
    bottom: 5px;
    color: #000000;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 20px;
    z-index: 1;
}

.alphasearch li
{
    margin-top: 2px;
    margin-bottom: 2px;
    list-style: none;
}

.alphasearch li:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.alphasearch li.selected
{
    background: none repeat scroll 0 0 #4D4D4D;
    border-radius: 2px;
    -opera-border-radius:2px;
    -khtml-border-radius:2px;
    -webkit-border-radius:2px;
    color: #FFFFFF;
}

.unmatched
{
    display:none;
}


#searchresult{
    width:98%;
    float:left;
}

.classfilters
{
    text-align: left;
    padding:3px;
}

.classfilters li{
    display:inline-block;
    padding:5px 15px 5px 5px;
    position:relative;
    border:solid 1px red;
    background: #e7eed9;
    border: solid 1.5px #d4d5d0;
    -opera-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    color:#4D4D4D;
    font-size: 11px;
}

.classfilters li a{
    background: none repeat scroll 0 0 #D4D5D0;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size: 7px;
    height: 10px;
    line-height: 8px;
    position: absolute;
    right: 0.2em;
    text-align: center;
    top: 0.2em;
    width: 10px;

}

.classfilter li a:hover{
    background: none repeat scroll 0 0 #fff;
    color: #D4D5D0;
}



/* licensemeter */
#licensebar{
    height: 10px;
    text-align: center;
    color: #717171;
    font-family: Trebuchet MS;
    font-size: 11px;
}

#licenseinfo{
    color: #717171;
    text-align: center;
    margin-top: 70px;
    padding-bottom: 5px;
}

/* classfinder */

.btnoptions{
    display: block;
    font-size: 11px;
    font-weight: normal;
    left: 12%;
    opacity: 0.9;
    padding: 1px 0;
    position: absolute;
    width: 140px;
    z-index: 1;
    -moz-border-radius: 5px;
    -opera-border-radius: 5px
        -khtml-border-radius:5px
        -webkit-border-radius:5px;
    border-radius:5px;
}

.btnoptions li:first-child
{
    -moz-border-radius: 5px 5px 0 0;
    -opera-border-radius: 5px 5px 0 0;
    -khtml-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}

.btnoptions li:last-child
{
    -moz-border-radius:0 0 5px 5px;
    -opera-border-radius:0 0 5px 5px;
    -khtml-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}

.btnoptions li:hover,#tgoptions li.selected
{
    color:#ff9900;
}



.btnoptions li{
    background: none repeat scroll 0 0 #3D453A;
    padding:4px;
    color:#fff;
    cursor:pointer;
}

/**for policy finder**/
#policyList li a
{
    padding-top: 0;

}
#policyList li a p
{
    margin:10px 0 0 3px;
    float:left;
}
#policyList li a
{
    padding-top: 0;

}

#policyList li a span
{
    font-size: 10px;
    padding:3px;
    -moz-border-radius:10px;
    -opera-border-radius:10px;
    -khtml-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
#policyList .type{
    background: none repeat scroll 0 0 #F0F0F0;
    display: block;
    float: left;
    padding: 14px 5px;
}

#policyList .promiselnk
{
    display:block;
    margin-bottom: 3px;
}
#policyList .promiser{
    max-height: 16px;
    max-width: 550px;
    overflow: hidden;
    background: none repeat scroll 0 0 #D2E147;
}

#policyList .handle{
    background: none repeat scroll 0 0 #CEC2E3;
}

#policyList .bundle{
    background: none repeat scroll 0 0 #F7BB3F;
}

/*reportdialog*/
#repdialog
{
    background: #3d453a;
    color:#fff;
    opacity:0.9;
    z-index:1500;
    position:absolute;
    top:0;
    left:0;
    -moz-border-radius:5px;
    -opera-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    width:100%;
}

.panelhead{
    padding:10px;
    position:relative;
}


.panelcontent p
{
    margin: 0;
    padding: 5px 10px;
}

.panelcontent input.searchfield
{
    display:block;
    width:100%;
    border:solid 1px #cecece;
    padding-top:4px;
    margin-top:2px;
    z-index: auto !important
}
/****************************/

/*engineering page */
#finder
{
    margin:0 15px 22px 15px;
}

.alert{
    background: #D8000C;
    border: solid 1px red;
}

#finder ul
{
    margin-left:91px;
    margin-bottom:50px;
}

#hoststatus
{
    margin: 15px 8px 5px 15px;
    float:left;
    padding: 0;
}

#hoststatus ul{
    margin:0 0 17px
}

#hoststatus ul a
{
    color:#08A3C1;
}

#summarymetereng
{
    margin:15px 4px 5px 0px;
    float:left;
    padding:0px;
}

.redhost
{
    background: url("../images/red_square.png") no-repeat left center;
}
.yellowhost
{
    background: url("../images/yellow_square.png") no-repeat left center;
}

.greenhost
{
    background: url("../images/green_square.png") no-repeat left center;
}

.bluehost
{
    background: url("../images/blue_square.png") no-repeat left center;
}
.hoststatuslist
{
    display:block;
    padding:5px 25px;
}

.graphcontainer{
    background: #4d4d4d;
    -moz-border-radius: 5px;
    -opera-border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin: 5px 15px 20px;
    padding: 15px 40px;
}

/**********************/
#topn{
    margin:15px;
    padding:10px;
}

/**************/
#footer p{
    color:#A3C380;
}
.tablesfixed table
{
     table-layout: fixed;
}
.tables table{
    width:100%;
}
.tables th
{
    text-align:left;
    padding:11px 0px 16px 10px;
    background-color:#3d4439;
    color:#ffffff;
    cursor:pointer;
    text-transform: uppercase;
    border:solid 1px #3d4439;
}

.tables tr td
{
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
    border-top: 1px solid #cbcdca;
    border-bottom: 1px solid #cbcdca;
    padding-left:10px;
    color:#3d453a;
    vertical-align: middle;
    overflow:auto;
    max-width: 600px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    white-space: pre;
    white-space: -hp-pre-wrap; /* HP Printers */
    white-space: pre-line;
}

.tables tr.odd td
{
    background:#e6eee3;
}


.tables td a
{
    word-wrap:break-word;
}


.tables tr:last-child td
{
    border-bottom:1px solid #757575;
}

.tables tr:first-child td
{
    border-top:1px solid #757575;
}

.tables tr.filters td
{
    padding:5px;
    background-color:#3d4439;
    border:solid 1px #3d4439;
}

.tables tr.filters  input[type='text']
{
    background-color:#fff;
    border:none;
    -moz-border-radius: 3px;
    -opera-border-radius:3px;
    -khtml-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:5px;
}

.coloricon
{
    width:20px;
    height:20px;
    display: inline-block;
}

.coloriconinline
{
    padding:10px;
}

.pages{
    margin-bottom: 15px;
}
.pages a
{
    background: #e6eee3;
    color:#3D453A;
    padding:2px 7px;

}
.pages a.current
{
    background: #3d4439;
    color:#fff;
}

.prev ,.next
{
    font-size: 12px;
    font-size: 14px;
    font-weight:bold;
}


#reportpanel{
    margin:15px;
    padding:10px;
}

.reporthead
{
    padding:5px 10px;
}

.reportpanelcontent
{
    padding:0 10px;
}

.reporthead .icons
{
    display:inline-block;
    width:28px;
    height:19px;
}
.email{
    background: url("../images/mail.png") no-repeat left center;
    margin-left:5px;
    padding:0 10px;
}

.pdf{
    background: url("../images/pdf.png") no-repeat left center;
}

#bodyreport{

}
/*For host Viewer*/
#hostview .innerdiv p{
    padding-left: 10px;
}
#hostviewgraph.graphcontainer
{
    padding:15px 10px;
}


#hostviewerbtn
{
    margin:0 auto;
}
#hostviewerbtn ul li
{
    margin:2%;
}
#hostviewerbtn.innerdiv,#monitoredjob.innerdiv,#statusmeasured.innerdiv
{
    margin:5px 5px 5px 10px;
}
#hostviewerbtn.innerdiv{
    padding:0.4em
}

#hostviewerbtn .title
{
    padding-left: 1px;
    margin-bottom: 40px;
}

#hostviewerrightpanes .innerdiv
{
    margin: 5px 10px 5px 0;
}

#findreport
{
    background: url("../images/report.png") no-repeat scroll 0 0 transparent;
}

#add_cmt
{
    background: url("../images/notes.png") no-repeat scroll 0 0 transparent;
}

#pulseNvitals
{
    background: url("../images/analysis.png") no-repeat scroll 0 0 transparent;
}
.nodata
{
    background: url("../images/no_data_button.png") no-repeat scroll 0 0 transparent;
    padding:40px;
    display: inline-block;
    font-size: 2em;
    margin-left: 10px;
    padding: 19px 0 19px 60px;
}

/* FOR KNOWLEDGE MAP */
.node{
    background-color: #ccccff;
    border: 1px;
    -moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
}

/* for infovis tip */
.tip {
    background-color: #4D4D4D;
    padding:5px;
}

/* generic forms */
.stylized form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
    font:100% verdana,arial,sans-serif;
    margin: 0;
    padding: 0;
    min-width: 500px;
    max-width: 600px;
    width: 560px; 
}

.stylized form fieldset {
    /* clear: both; note that this clear causes inputs to break to left in ie5.x mac, commented out */

    border-width: 1px;
    border-style: solid;
    padding: 10px;        /* padding in fieldset support spotty in IE */
    margin: 0;
    border-color: #D4D5D0;
    border-radius: 5px 5px 5px 5px;
}

.stylized form fieldset legend {
    font-size:1.1em; /* bump up legend font size, not too large or it'll overwrite border on left */
    /* be careful with padding, it'll shift the nice offset on top of border  */
}

.stylized form label {
    display: block;  /* block float the labels to left column, set a width */
    float: left; 
    width: 120px; 
    padding: 0; 
    margin: 3px 0 0; /* set top margin same as form input - textarea etc. elements */
    text-align: right; 
}

.stylized form fieldset label:first-letter { /* use first-letter pseudo-class to underline accesskey, note that */
    text-decoration:underline;    /* Firefox 1.07 WIN and Explorer 5.2 Mac don't support first-letter */
    /* pseudo-class on legend elements, but do support it on label elements */
    /* we instead underline first letter on each label element and accesskey */
    /* each input. doing only legends would  lessens cognitive load */
    /* opera breaks after first letter underlined legends but not labels */
}

.stylized form input, form textarea, form select {
    /* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
    width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
    margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                          label aligns textarea better in IE */
        border: 1px solid #D4D5D0;
       font-size: 14px;
       padding:2px;

}

.stylized form input#reset {
    margin-left:0px; /* set margin-left back to zero on reset button (set above) */
}

.stylized textarea {
   /* overflow: auto;
    height: 50px;
    width:50%;*/
}

.stylized form small {
    display: block;
    margin: 0 0 5px 160px; /* instructions/comments left margin set to align w/ right column inputs */
    padding: 1px 3px;
    font-size: 88%;
}

.stylized form .required{font-weight:bold;} /* uses class instead of div, more efficient */

.stylized form br {
    clear:left; /* setting clear on inputs didn't work consistently, so brs added for degrade */
}

/*For coloured hoslist page */
.hostlisttitle{
    margin-bottom: 15px;
}

.promisesnotkeptbtn
{
    background: url("../images/not_kept_button.png") no-repeat scroll 0 0 transparent;
    padding:10px;
    padding:10px 15px;
    display:inline-block;
}

.vitalsbtn
{
    background: url("../images/vitals_button.png") no-repeat scroll 0 0 transparent;
    padding:10px 15px;
    display:inline-block;
}

.actioncol
{
    width:60px;
}
.datecol
{
    width:190px;
}

#colorhostlist th,td
{
    border:none;
}
#colorhostlist.tables tr td
{
    border-left: none;
    border-right:none;
}

.ui-widget-content a.help
{
    color:#fff;
    float:right;
    font-size:11px;
}
/*
 * SmartTextBox.css
 *
 * SmartTextBox default styles
 * 
*/

.smartTextBox{
    font: 12px "Lucida Grande",Verdana;
    cursor: text;
    background: #fff;
}

.smartTextBox-items{
    zoom: 1;
    overflow: hidden;
    margin: 0;
    padding: 3px 4px 0;
    border: 1px solid #999;
    padding-bottom: 3px;
}

.smartTextBox-elem{
    list-style-type: none;
    line-height: 18px;
    float: left;
    display: block;
    padding: 0;
    margin: 0 5px 3px 0;
    cursor: default;
}

.smartTextBox-box-elem{
    position: relative;
    padding: 0 5px;
    border: 1px solid #CAD8F3;
    background: #DEE7F8;
    cursor: default;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}

.smartTextBox-input-elem{
    backgound-color : transparent;
}

.smartTextBox-input-elem-valueInput{
    border: none;
}

.smartTextBox-elem-hover{

}

.smartTextBox-elem-box-hover{
    background-color: #BBCEF1;
}

.smartTextBox-elem-input-hover{

}

.smartTextBox-elem-focus{

}

.smartTextBox-elem-box-focus{
    background-color: #598BEC;
}

.smartTextBox-elem-input-focus{

}

.smartTextBox-elem-valueContainer{
    margin-right: 8px;
    white-space: nowrap;
}

.smartTextBox-elem-deleteButton{
    position: absolute;
    right: 4px;
    top: 6px;
    display: block;
    width: 7px;
    height: 7px;
    font-size: 1px;
    background: url('images/close.gif');
}

.smartTextBox-elem-deleteButton:hover{
    border: none;
    background-position: 7px;
    text-decoration: none;
}



/* AutoComplete */
.smartTextBox-autocomplete{
    position: absolute;
    z-index: 10;
}

.smartTextBox-autocomplete-placeholder{
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #eee;
    border: 1px solid #999;
    border-top: none;
    padding: 5px 7px;
}

.smartTextBox-autocomplete-results{
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #eee;
    border: 1px solid #999;
    border-top: none;
    margin: 0;
    padding: 0;
}

.smartTextBox-autocomplete-result{
    margin: 0;
    padding: 5px;
    list-style-type: none;
    background: #eee;
    cursor: pointer;
    width: 100%;
}

.smartTextBox-autocomplete-value {
    display: none;
}

.smartTextBox-autocomplete-highligh {
    font-weight: bold;
}

.smartTextBox-autocomplete-result-focus{
    background: #C6D9E4;
}

/*planning*/
#messageinput_container
{
    margin-bottom:10px;
}
#message
{
    width:95%;
    height:30px;
    border:solid 1px #D4D5D0;
    font-size:14px;
}
#button
{
    background-color:#959595;
    border:solid 1px #707070;
    color:#ffffff;
    text-transform: uppercase;
    cursor:pointer
}

#button.disabled
{
    background:#f0f0f0;
}
#cancel
{
    background-color:#dedede;
    color:#000;
    margin-left:10px;
    text-transform: uppercase;
    border:solid 1px #848484;
    cursor:pointer
}
#button_block
{
    margin: 10px 0;
    padding-left: 10px;
    display:none;
}

#users li,#personalnotes li
{
    border-bottom: dashed 1px #D4D5D0;
    padding:5px 0;
    margin:0 10px;
    list-style: disc inside none;

}
#users li:last-child,#personalnotes li:last-child
{
    border:none;
}
.wrknoteslblorg
{
    color:#F68E36;
}

#plandash
{
    padding-top:30px
}

#plandash ul
{
    margin:0 auto;
    width: 375px;
}

.morebtnpane{
    text-align: right;
    margin:5px 10px 20px 0px;
}
.morebtn
{
    padding: 3px 13px;
    border:solid 1px #c8c8c8;
    -moz-border-radius: 0 0 6px 6px;
    -opera-border-radius:0 0 6px 6px;
    -khtml-border-radius:0 0 6px 6px;
    -webkit-border-radius:0 0 6px 6px;
    border-radius: 0 0 6px 6px;


    background: #D4D4D4; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F0', endColorstr='#Cfcfc8'); /* for IE */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6f6ef), to(#d3d3cc));
    background: -moz-linear-gradient(90deg, #d3d3cc, #f6f6ef) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(90deg,#d3d3cc, #f6f6ef) repeat scroll 0 0 transparent;
    cursor: pointer;

}

.morebtn a
{
    color:#4D4D4D;
}

.morebtn a:hover
{
  color:#08A3C1;
}

.bundlelist-table
{
    padding: 0;
    margin: 8px;  
    border:1px solid #666 ;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    background: #FFF;
    width: 95%;
}

.bundlelist-table caption
{
    caption-side: bottom;
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
    padding: 0.5em 0;
}

.bundlelist-table th, .bundlelist-table td
{
    border:0px;
    border-right: 1px solid #666;
    border-bottom: 1px dashed #cccccc;  
    text-align: left;  
}

.bundlelist-table th[scope=col]
{
    color: #FFF;
    background-color:#3d4439;
    border-right: 1px solid #666;
    font-size: 0.9em; 
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}
.bundlelist-table th[scope=row]
{
    background-color: #b8cfe5;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;

}

.bundlelist-table th[scope=host-class]
{
    background-color: #009193; 
    color: #FFF;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}

table th[scope=red]
{
    background-color: #D43030; 
    color: #FFF;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}

table th[scope=yellow]
{
    background-color: #cfb93f; 
    color: #FFF;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}


.bundlelist-table th[scope=blue]
{
    background-color: #009193; 
    color: #FFF;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}

.bundlelist-table th[scope=promise]
{
    background-color: #a58d73;
    color: #FFF;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}


.bundlelist-table tr.alt th, .bundlelist-table tr.alt td
{
    color: #2a4763;
}

.bundlelist-table tr:hover th[scope=row], .bundlelist-table tr:hover td
{
    background-color: #cccccc;
    color: #fff;
}

.maxwidth400{
    display:inline-block;
    max-width: 400px;
}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../images/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url(../images/success.png);
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url(../images/error.png);
}