.astrolabe
{
    padding: 0px;
}

.astrolabe span
{
    cursor: pointer;
}

.astrolabe ul li
{
    list-style: none;
    padding-left: 10px;
    width:100%;
    white-space: nowrap;
}

.astrolabe .node > .showqtip > .nodeIcon
{
    height: 8px;
    width: 9px;
    margin-right: 5px;
    display: inline-block;
    border: 2px solid #ffffff;
    background-image: url('../images/arrow-icons.png') !important;
    background-position: -9px 0px;
    cursor: pointer;
}

.astrolabe .node.expanded > .showqtip > .nodeIcon
{
    height: 8px;
    width: 9px;
    margin-right: 5px;
    display: inline-block;
    background-image: url('../images/arrow-icons.png');
    background-position: 0px 0px;
}

.astrolabe .node  .nodeHeader
{
    display: inline-block;
    height: 16px;
    background: #ffffff;
}

.astrolabe .node  .nodeHeader:hover
{
    background: #51584d;
    color: #ffffff;
}

.astrolabe .node .selectedElement > .showqtip > .nodeHeader
{
    color:#F08B37;
}

.astrolabe .node .selectedElement > .showqtip > .nodeHeader:hover
{
    color:#ffffff;
}

.astrolabe .node  .nodeHeader:hover  .addNodeButton
{
    background-image: url('../images/astrolabe/add_remove_edit_icons.png') ;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.astrolabe .node  .nodeHeader  .addNodeButton
{
    width: 22px;
    height: 16px;
    display: inline-block;
    
    cursor: pointer;
}

.astrolabe .node  .nodeHeader:hover > .addNodeButton:hover
{
    background-position: 0px -21px;
}
.astrolabe .node  .nodeHeader:hover > .removeNodeButton
{
    background-image: url('../images/astrolabe/add_remove_edit_icons.png');
    background-position: -28px 0px;
     background-repeat: no-repeat;
}

.astrolabe .node  .nodeHeader > .removeNodeButton
{
    width: 16px;
    height: 16px;
    display: inline-block;
    border-left: 2px solid #ffffff;
    
    cursor: pointer;
}

.astrolabe .node  .nodeHeader:hover > .removeNodeButton:hover
{
    background-position: -28px -21px;
}

.astrolabe .node  .nodeHeader:hover  .editNodeButton
{
    background-image: url('../images/astrolabe/add_remove_edit_icons.png');
    background-position: -50px 0px;
    background-repeat: no-repeat;
}

.astrolabe .node  .nodeHeader  .editNodeButton
{
    width: 16px;
    height: 16px;
    display: inline-block;
    border-left: 2px solid #ffffff;
    
    cursor: pointer;
}

.astrolabe .node  .nodeHeader:hover > .editNodeButton:hover
{
    background-position: -50px -21px;
}


.astrolabe .node.expanded > .busyIcon
{
    background-image: url('../images/astrolabe/loader.gif');
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.astrolabe .node .selectedElement > .nodeHeader > .nodeLabel
{
    color: #f08b37;
}

.astrolabe .node  .nodeHeader > .nodeLabel
{
    height: 16px;
    position: relative;
    top: -3px;
    padding-left: 2px;
}

.astrolabe .host.selectedElement > .hostLabel
{
    color: #f08b37;
}


.astrolabe .host > .hostLabel:hover
{
    color: #f08b37;
}

.astrolabe .hostIcon
{
    height: 13px;
    width: 13px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}

.astrolabe .menu .profilesCombo
{
    position: absolute;
    top: 14px;
    left: 10px;
    right: 130px;
    display: inline-block;
}

.astrolabe .listContainer
{
    /*height: 430px; */
    height: 100%;
}

.astrolabe .host > .blue
{
    background-color: #476e8c;
}

.astrolabe .host > .black
{
    background-color: #000000;
}

.astrolabe .host > .red
{
    background-color: #cc4358;
    padding: 0px;
}

.astrolabe .host > .green
{
    background-color: #779a62;
}

.astrolabe .host > .yellow
{
    background-color: #f0d76a;
}

.astrolabe .menu
{
    background: #51584d;
    height: 55px;
    position: relative;

    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -opera-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.astrolabe .rootContainer
{
    padding: 10px 10px 10px 0px;
}

.astrolabe .node  .nodeHeader >.hostCountLabel
{
    margin-left: 3px;
    margin-right: 3px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: -3px;
    cursor: pointer;
}


.astrolabe .menu > .classFinderIcon
{
    background: url("../images/finder_icon_line.png") no-repeat 0px 0px;
    width: 35px;
    height: 35px;
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 90px;
}

.astrolabe .classFinderIcon:hover
{
    background: url("../images/finder_icon_line.png") no-repeat -36px 0px;
}

.astrolabe .hostFinderIcon
{
    background: url("../images/finder_icon_line.png") no-repeat 0px -36px;
    width: 35px;
    height: 35px;
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 50px;
}

.astrolabe .hostFinderIcon:hover
{
    background: url("../images/finder_icon_line.png") no-repeat scroll -36px -36px;
}

.astrolabe .promiseFinderIcon
{
    background: url("../images/finder_icon_line.png") no-repeat 0px -72px;
    width: 35px;
    height: 35px;
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
}

.astrolabe .promiseFinderIcon:hover
{
    background: url("../images/finder_icon_line.png") no-repeat scroll -36px -72px;
}

.astrolabe.addNodeDialog .leftColumn
{
    float: left;
    display: inline-block;
    width: 50%;
}

.astrolabe.addNodeDialog .rightColumn
{
    float: right;
    display: inline-block;
    width: 50%;
}

.astrolabe.addNodeDialog .classInputContainer
{
    position: relative;
    float: left;
    display: inline-block;
}

.astrolabe.addNodeDialog input
{
    height: 20px;
    padding-right: 20px;
}

.astrolabe.addNodeDialog .astrolabeAddNodeDialogError
{
    color: #cc4358;
}

.astrolabe.addNodeDialog .rightColumn .classInputContainer > .classFinderIcon
{
    position: absolute;
    float: left;
    width: 16px;
    height: 16px;
    top: 5px;
    right: 5px;
    background: url("../images/contextfinder/icon_buttons.png") no-repeat;
    background-position: 0px -51px;
}

.astrolabe.addNodeDialog .rightColumn .classInputContainer > .classFinderIcon:hover
{
    background-position: -21px -51px;
}

.astrolabe .containerWrapper {
    padding: 10px 0 0 0;
}

.astrolabe span.hostLabel{
    overflow:hidden;
    max-width: 93%;
    display:inline-block;
    line-height:16px;
}

/* added styles for jScrollPane */
#scrollable_list
{
    width: 100%;
    height: 459px; 
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 3px;
}