/* 
    Document   : cfeditor
    Created on : May 17, 2011, 4:54:22 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background: url("../images/icons/bg_tile.png") repeat-x scroll 0 0 #A5ACA2;
    font-family: "Trebuchet MS",Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    /*text-shadow: white 0px 1px 0px;*/
}

#header
{
    color:#fff;
}
#header p,ul
{
margin:0
}

#header_left .sitetitle
{
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 20px;
}

p#repoinfo
{
    margin-top:15px;
    padding: 5px;
    font-size: 14px;
    text-align: center
}
p#userbox{
    background: url("images/logged_in_as.png") no-repeat scroll 0 7px transparent;
    float: right;
    margin-top:10px;
    padding: 5px 0 0 18px;
    font-size: 14px;

}

p#userbox a{
    color: #CEAC0F;
    text-decoration: none;
    font-size: 14px;
}

.completions {
        border: 1px solid black;
        z-index: 10;
        overflow: hidden;
      }
      .completions select {
        outline: none;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: white;
        font-family: monospace;
        font-size: 80%;
      }
      .CodeMirror-wrapping {
        border-top: 1px solid #911;
        border-bottom: 1px solid #911;
        padding: 3px;
      }
      .CodeMirror-line-numbers {
        margin: 0;
        padding: 0;
        padding-top: 3px;
        margin-right: .4em;
        width: 2.2em;
        color: #aaa;
        text-align: right;
        padding-right: .3em;
        font-size: 10pt;
        font-family: monospace;
	  }

	  .CodeMirror-line-numbers div
	  {
		 font-size: 10pt;
		 line-height:normal;
	  }


	  #leftPanel
{
	background: #fff;
        -moz-border-radius: 8px;
       -webkit-border-radius: 8px;
}

.ui-layout-toggler-west-open , .ui-layout-toggler-east-closed { background: url(/images/toggle-lt.gif) no-repeat center right; }
.ui-layout-toggler-west-closed , .ui-layout-toggler-east-open {background: url(/images/toggle-lt-open.gif) no-repeat center right;}

#rightPanel
{
	overflow: hidden
}

#buttonpanel-resizer
{
    width:5px;
}
#syntax_check_area
{
	background:#ffffff;
	width:95%;
	height:200px;
	margin-top:50px;
}



#Policies
{
	background:#fff;
	margin-left:5px;
	-moz-border-radius: 8px;
       -webkit-border-radius: 8px;

}

#Policies .title
{
  color:#333331;
  text-align:center;
  font-size:16px;
  font-family:Verdana, Geneva, sans-serif;
  padding:5px 5px 5px 5px;
}

#buttonpanel ul
{
 margin-top: 28px;
  -moz-border-radius: 6px;
    -opera-border-radius:6px;
    -khtml-border-radius:6px;
    -webkit-border-radius:6px;
   border-radius:5px;
  background:#fff;
}

#buttonpanel-resizer{
  width:5px;
}
     
.dash ul{
    list-style: none;
    margin: 0 auto;
}

.dash ul li{
    text-align: center;
    list-style: none;
    padding:10px 10px;
}

.dash ul li a{
    min-width:35px;
    display:block;
    padding-top: 35px;
    font-size: 11px;
    color:#717171;
}

.dash a#new{
    background: url("../images/new.png") no-repeat scroll center top transparent;
}
.dash a#save{
    background: url("../images/save.png") no-repeat center top transparent;
}
.dash a#update{
    background: url("../images/update.png") no-repeat center top transparent;
}

.dash a#svnlogs{
    background: url("../images/log.png") no-repeat center top transparent;
}

.dash a#Checkout{
    background: url("../images/checkout.png") no-repeat center top transparent;
}

.dash a#Commit{
    background: url("../images/commit.png") no-repeat center top transparent;
}

.dash a#checksyntax{
     background: url("../images/check_syntax.png") no-repeat scroll center top transparent;
}

.dash ul li.clearleft , .clearleft{
    clear:left;
    padding:0;
    margin:0;
}

#help-panel .results span
{
	text-decoration:none;
	display:block;
	font:11px Verdana, Geneva, sans-serif;
	padding:2px;
}

.ui-icon-close {
cursor:pointer;
float:left;
margin:0.4em 0.2em 0 0;
}

.ui-corner-bottom
{
	-moz-border-radius: 0px 8px 8px 8px;
    -webkit-border-radius: 0px 8px 8px 8px;
}

#tabs
{
	font-size:11px;
	border:none;
	padding:0;
	width:100%;
	-moz-border-radius: 8px;
       -webkit-border-radius: 8px;
       background: transparent;
}

#tabs ul
{
	border:none;
	padding:0;
}

#tabs ul.ui-widget-header
{
    background:none;
}

#tabs div
{
	background:#ffffff;
}

/*for save dialog*/
#dialog,.dialog
{
	font-size:12px;
}
div.ui-dialog-buttonpane,.dialog.ui-dialog-buttonpane
{
	font-size:12px;
}
#dialog label, #dialog input,.dialog label,.dialog input { display:block; }
#dialog label,.dialog label { margin-top: 0.5em; }
#dialog input, #dialog textarea,.dialog input,.dialog textarea { width: 95%; }

/*for left side pane list*/
#policies_list
{
	margin:5px 0 0 20px;
	padding:0;
	list-style:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#333331;

}

#policies_list li
{
	padding:2px 2px;
}

#policies_list li a
{
	text-decoration:none;
}

#sfdialog
{
	font-size:14px;
}

#confirmation
{
	font-size:14px;
}

#footer
{
	color:#9AD38F;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
}

#spinner
{
	z-index:10;
}

#repoText
{
	z-index:5;
	color:#fff;
	cursor:pointer;

	text-align:center;
}

#repoText span
{
 color:#fff;
 padding-left:2px;
 padding-right:2px;
 padding-bottom:1px;
}


#usedRepo
{
	text-align:center;
}

#usedRepo span
{
	color:#000;
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
        padding:4px;
	background:#E8EAF9;

}

/* file list browser css*/
UL.jqueryFileTree {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 0 0 0 5px;
	margin: 0px;
}

UL.jqueryFileTree LI {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	white-space: nowrap;
}

UL.jqueryFileTree A {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0px 2px;
}

UL.jqueryFileTree A:hover {
	background: #BDF;
}

/* Core Styles */
.jqueryFileTree LI.directory { background: url(images/directory.png) left top no-repeat; }
.jqueryFileTree LI.expanded { background: url(images/folder_open.png) left top no-repeat; }
.jqueryFileTree LI.file { background: url(images/file.png) left top no-repeat; }
.jqueryFileTree LI.wait { background: url(images/spinner.gif) left top no-repeat; }
/* File Extensions*/
.jqueryFileTree LI.ext_3gp { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_afp { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_afpa { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_asp { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_aspx { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_avi { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_bat { background: url(images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_bmp { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_c { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cfm { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cgi { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_com { background: url(images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_cpp { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_css { background: url(images/css.png) left top no-repeat; }
.jqueryFileTree LI.ext_doc { background: url(images/doc.png) left top no-repeat; }
.jqueryFileTree LI.ext_exe { background: url(images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_gif { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_fla { background: url(images/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_h { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_htm { background: url(images/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_html { background: url(images/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_jar { background: url(images/java.png) left top no-repeat; }
.jqueryFileTree LI.ext_jpg { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_jpeg { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_js { background: url(images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_lasso { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_log { background: url(images/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_m4p { background: url(images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mov { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp3 { background: url(images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp4 { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpg { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpeg { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_ogg { background: url(images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_pcx { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_pdf { background: url(images/pdf.png) left top no-repeat; }
.jqueryFileTree LI.ext_php { background: url(images/php.png) left top no-repeat; }
.jqueryFileTree LI.ext_png { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_ppt { background: url(images/ppt.png) left top no-repeat; }
.jqueryFileTree LI.ext_psd { background: url(images/psd.png) left top no-repeat; }
.jqueryFileTree LI.ext_pl { background: url(images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_py { background: url(images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_rb { background: url(images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rbx { background: url(images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rhtml { background: url(images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rpm { background: url(images/linux.png) left top no-repeat; }
.jqueryFileTree LI.ext_ruby { background: url(images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_sql { background: url(images/db.png) left top no-repeat; }
.jqueryFileTree LI.ext_swf { background: url(images/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_tif { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_tiff { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_txt { background: url(images/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_vb { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_wav { background: url(images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_wmv { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_xls { background: url(images/xls.png) left top no-repeat; }
.jqueryFileTree LI.ext_xml { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_zip { background: url(images/zip.png) left top no-repeat; }

small
{
	font-size:10px;
}
#drilldown
{
	background:url(images/drilldown.png) center no-repeat;
	text-align:center;
	color:#fff;
	font-family:DejaVuSans,Arial, Helvetica, sans-serif;
	width:191;
	margin:0 auto;
	display:block;
	width:191px;
	padding-bottom:5px;
    padding-top:2px;
	cursor:pointer;
}

/* cfengine speicfic keywords */
#bundle,#classcontext,#bodyname
{
	color:#3000ff;
	font-weight:bold;
}

#handle,#promiser,#promisee
{
	color:#AA0000;
	font-weight:bold;
}

#file
{
	color:#008F0A;
}

.lnsendmail
{
	margin-top:-5px;
	margin-right:5px;
}

#subheading
{
color:#73B169;
}
#subheading b
{
font-weight:bold;
}

.dlgnotes
{
    padding:5px;
    margin-top: 20px;
    margin-bottom:1px;
    border:solid 1px #AAAAAA
}

/* generic forms */
.stylized form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
    font:100% verdana,arial,sans-serif;
    margin: 0;
    padding: 0;
    min-width: 500px;
    max-width: 600px;
    width: 560px;
}

.stylized form fieldset {
    /* clear: both; note that this clear causes inputs to break to left in ie5.x mac, commented out */

    border-width: 1px;
    border-style: solid;
    padding: 10px;        /* padding in fieldset support spotty in IE */
    margin: 0;
    border-color: #D4D5D0;
    border-radius: 5px 5px 5px 5px;
}

.stylized form fieldset legend {
    font-size:1.1em; /* bump up legend font size, not too large or it'll overwrite border on left */
    /* be careful with padding, it'll shift the nice offset on top of border  */
}

.stylized form label {
    display: block;  /* block float the labels to left column, set a width */
    float: left;
    width: 120px;
    padding: 0;
    margin: 3px 0 0; /* set top margin same as form input - textarea etc. elements */
    text-align: right;
}

.stylized form fieldset label:first-letter { /* use first-letter pseudo-class to underline accesskey, note that */
    text-decoration:underline;    /* Firefox 1.07 WIN and Explorer 5.2 Mac don't support first-letter */
    /* pseudo-class on legend elements, but do support it on label elements */
    /* we instead underline first letter on each label element and accesskey */
    /* each input. doing only legends would  lessens cognitive load */
    /* opera breaks after first letter underlined legends but not labels */
}

.stylized form input, form textarea, form select {
    /* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
    width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
    margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                          label aligns textarea better in IE */
        border: 1px solid #D4D5D0;
       font-size: 14px;
       padding:2px;

}

.stylized form input#reset {
    margin-left:0px; /* set margin-left back to zero on reset button (set above) */
}

.stylized textarea {
   /* overflow: auto;
    height: 50px;
    width:50%;*/
}

.stylized form small {
    display: block;
    margin: 0 0 5px 160px; /* instructions/comments left margin set to align w/ right column inputs */
    padding: 1px 3px;
    font-size: 88%;
}

.stylized form .required{font-weight:bold;} /* uses class instead of div, more efficient */

.stylized form br {
    clear:left; /* setting clear on inputs didn't work consistently, so brs added for degrade */
}

.tables table{
    width:100%;
    margin-bottom: 0px;
    font-size: 11px;
}
.tables th
{
    text-align:left;
    padding:11px 0px 16px 10px;
    background-color:#3d4439;
    color:#ffffff;
    cursor:pointer;
    text-transform: uppercase;
    border:solid 1px #3d4439;
}

.tables tr td
{
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
    border-top: 1px solid #cbcdca;
    border-bottom: 1px solid #cbcdca;
    padding-left:10px;
    color:#3d453a;
    vertical-align: middle;
    overflow:auto;
    max-width: 600px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    white-space: pre;
    white-space: -hp-pre-wrap; /* HP Printers */
    white-space: pre-line;
}

.tables tr.odd td
{
    background:#e6eee3;
}


.tables td a
{
    word-wrap:break-word;
}


.tables tr:last-child td
{
    border-bottom:1px solid #757575;
}

.tables tr:first-child td
{
    border-top:1px solid #757575;
}

.tables tr.filters td
{
    padding:5px;
    background-color:#3d4439;
    border:solid 1px #3d4439;
}

.tables tr.filters  input[type='text']
{
    background-color:#fff;
    border:none;
    -moz-border-radius: 3px;
    -opera-border-radius:3px;
    -khtml-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:5px;
}


