
.result li.reportcategory{
    background: #E7EED9;
    color:#222222;
    text-transform: uppercase;
    padding-left: 5px;
    cursor: pointer;
}

.result li.reportitem{
    padding-left:10px;
}


.roles_wrapper {
   float: left;
   width: 98%
}
.role_list {
     float: left; 
     width: 40%; 
     overflow: auto;
}
.role_list ul {
     height: 400px;
     border: 1px solid #D4D5D0;
     padding: 5px 10px;
     overflow: auto;
}
.role_list ul li {
    list-style: none;
    border-top: 1px solid #D4D5D0;
    padding: 10px 0;
}
.role_list ul li.first {
    border: none !important;
}

.switchers {
    float: left;
    width: 7%;
    text-align: center;
    margin: 0 20px;
    padding-top: 150px;
}
.selected_item {
    background: #acd2e1 !important;
    border-bottom: 1px solid #FFF;
}
input[readonly] {background: buttonface;}


#admin_content  #maintable td {
    vertical-align: top !important;
    border: none !important
}
/******** finders box style ************/
.all_classes {
    height: 635px;
    width: 460px;
}

.dialog_box_style .ui-dialog {
    width: inherit;
    height: inherit;
}

.dialog_box_style .ui-dialog-titlebar  {
    height: 30px;
    color: #fff;
}

.all_classes #classList {
    height: 540px;
    overflow-y: scroll;
    -ms-overflow-x: hidden; /*ie*/

}
.dialog_box_style #classList li, .dialog_box_style #bundlessList li {
    border: none;  
    width: 89%;
}
.dialog_box_style #classList li:nth-child(2n), .dialog_box_style #bundlessList li:nth-child(2n), .itemlist li:nth-child(2n){
    background: none repeat scroll 0 0 #E6EEE3;
}
.dialog_box_style .itemlist li, .dialog_box_style #classList li, .dialog_box_style #bundlessList li {
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 12px;
}


.dialog_box_style .ui-dialog .ui-dialog-content  {
    padding: 0.5em 0em 0.5em 1em;
}
.dialog_box_style .itemwrapper {
    background: #fff;
    height: 225px; 
    min-height: 260px; 
    overflow-y: scroll;
    -ms-overflow-x: hidden; /*ie*/
}

edit_form_wrapper td {
    border: none !important;
}
#edit_form_wrapper, #edit_form td {
    background: #d2dacf !important;
}

#edit_form .edit_cell {
    height: 330px;
    padding-bottom: 20px;
    width: 340px;
}
#edit_form .arrows {
    width: 230px;
    text-align: center;
    padding-top: 60px;
} 

#edit_form_wrapper .ui-state-highlight {
    list-style: none;
    background: lightcyan;
    display: block;
    color: green;
    border: 3px solid #dedede
}

#edit_form_wrapper #maintable tr:last-child td,
#edit_form_wrapper #maintable tr:nth-child(2n) td {
    background: none !important;
    background-color: #ccc
}

.dragged {
    list-style: none;
    background: lightskyblue;
    display: block;
    color: green;
    border: 3px solid #dedede;
    position: absolute !important;
    z-index: 9999 !important;
}
.addRegex {
    height: 30px; 
    padding: 5px;
}

.all_classes  .ui-resizable {
    height: 635px;
}
.empty_list {
    height: 30px;
}
.empty_list_warning {
    text-align: center
}

.holder #admin_content  tbody tr td {
    border: none !important;
    border-collapse: colapse;
}


.arrows a {
    width: 24px;
    height: 22px;
    display: inline-block;
    background-image: url("../images/move_arrow.png");
    background-repeat: no-repeat;
    font-size: 0px;
}

arrows a.left {
    background-position: 0 0;
}

.arrows a.left:hover {
    background-position: -25px 0;
}

.arrows a.right {
    background-position: -50px 0;
}

.arrows a.right:hover {
    background-position: -75px 0;
}