/* styles for contextfinder. Overload default styles for catalog */
div.contextfinder {
    background: #fff;
    border: 1px solid #000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888; 
}

	div.contextfinder .ui-widget-header {
            background: none; 
        }
 
	div.contextfinder .ui-dialog .ui-dialog-titlebar {
            margin: 0;
            padding: 0; 
        }
 
	div.contextfinder div.ui-dialog .ui-widget-header .ui-dialog-title {
            color: #6C695A !important;
            font-size: 12px;
        }
 
	div.contextfinder .ui-dialog-titlebar {
            height: 16px; 
        }
 
            div.contextfinder .ui-dialog-titlebar span { 
                color: #6C695A !important;
                font-size: 12px !important;
            }
 
	div.contextfinder .ui-widget-header .ui-dialog-titlebar-close {
            margin: 0;
            padding: 0;
            height: 16px;
            width: 16px;
            right: 0;
            top: -1px;
            position: absolute;
            right: 0 !important; 
        }
 
	div.contextfinder .ui-dialog-titlebar-close .ui-icon-closethick {
            margin: 0;
            padding: 0; 
        }
 
	div.contextfinder .ui-dialog-titlebar {
            margin: 0;
            padding: 0;
            position: relative;
        }
 
		div.contextfinder .ui-dialog-titlebar .ui-state-hover, 
                div.contextfinder .ui-dialog-titlebar .ui-state-focus {
                    border: none;
                    background: none;
                }
 
div.contextfinder .ui-dialog .ui-dialog-titlebar-close span { 
    margin: 0 !important; 
}
 
div.contextfinder .ui-dialog-content {
    clear: both;
}

/* internal styles */
.col1 {
    width: 240px;
    text-align: left; 
}
 
.col2 {
    width: 45px;
    text-align: center;
    vertical-align: middle !important; 
}
 
.item {
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 10px; 
}
 
	.item input {
            width: 190px;
            padding-right: 40px;
            float: left;
            height: 20px 
        }
        
.embedded .item  {
    width: 98%;
    
}
 

.embedded .item input {
    width: 98% !important;
}

#resetConditions {
    float: left;
    margin-left: 10px;
}

#setConditions {
    float: right;
    margin-right: 10px;
}

/*-------------------------- buttons ---------------------------------*/
div.contextfinder .ui-dialog-titlebar-close .ui-icon-closethick,
.class_selector,
.add_condition span,
.delete_condition,
.invert {
    background-image: url("../images/contextfinder/icon_buttons.png");
    background-repeat: no-repeat;
    display: block;
    text-decoration: none; 
}

div.contextfinder .ui-dialog-titlebar-close .ui-icon-closethick,
.class_selector, 
.delete_condition {
    position: absolute;
    float: left;
    height: 16px;
    width: 16px;
    font-size: 0;
} 

.class_selector {
    top: 3px;
    right: 25px;
    background-position: 0 -51px;
}
    .class_selector:hover {
        background-position: -21px -51px;
    }
 
.add_condition {
    margin-right: 9px;
    float: right;
    text-decoration: none;
    color: #6C695A !important;
    font-size: 1em;
}
    
.add_condition span {
    top: 5px;
    background-position: 0 -72px;      
    display: inline-block;
    width: 16px;
    height: 16px;
}
    .add_condition:hover span {
        background-position: -21px -72px;  
        text-decoration: none;
    }
    
div.contextfinder .ui-dialog-titlebar-close .ui-icon-closethick,    
.delete_condition {
    background-position: 0 -30px;
}

    div.contextfinder .ui-dialog-titlebar-close .ui-icon-closethick:hover,
    .delete_condition:hover {
        background-position: -21px -30px;
    }
     
.delete_condition {   
    top: 3px;
    right: 5px;    
}

.invert {
    display: block;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-bottom: 30px; 
    font-size: 0;
}

    .invert:hover {
        background-position: -30px 0;
    }

.class_selector:hover, 
.delete_condition:hover,
.invert:hover 
{ 
    text-decoration: none; 
}
/*---------------------------------------------------------------------*/