#event_viewer{
   margin-top:10px;
}

.listPane ul li{
    list-style: none !important;
    padding:4px;
}

.listPane span{
  padding:0 2px;
}

span.loadinggif{
    padding:0 8px;
}

.listPane ul li .trackerStart:hover,.listPane ul li .trackerStop:hover, .trackerDelete:hover, .trackerEdit:hover{
   text-decoration: underline;
   cursor: pointer;
}

.listPane p{
    margin-bottom: 2px;
    font-size: 14px;
}

.listPane ul{
  border:1px solid #AAAAAA;
  border-radius: 4px 4px 4px 4px;  
  background: #E6EEE3;
  max-height: 135px;
  overflow: auto;
}

.eventPane{
    margin-top:15px;
}

.eventPane fieldset{
   border:solid 1px gray;
   position: relative;
}

.eventPane legend{
    background: none repeat scroll 0 0 #E6EEE3;
    left: 50%;
    margin-left: -5em;
    padding: 0 5px;
    position: absolute;
    top: -5%;
    border-radius:5px;
    border:solid 1px gray;
}

 .largeMargin{
    margin-top: 41px;
  }

.events{
    height:200px;
    overflow-y:scroll;
}

.event{
    border-bottom: 1px solid silver; 
    border-collapse: collapse; 
    padding: 2px
}

.status{
    border-bottom: solid 1px gray;
    padding-top:6px;
}

.status .eventType{
    float: left; 
    font-size: 14px; 
    padding: 4px
}

.status .hostandEvents{
    float: right; 
    padding: 4px
}

#event_viewer #infoMessage{
    padding:0px;
    margin-bottom: 15px;
}


