.finderwidget  .classList a.name
{
    width:75%;
    overflow:hidden;
}

.finderwidget  .classList .action
{
    margin: 0 10px;
}

#policyList .btn, .finderwidget .classList .btn
{
    background: none repeat scroll 0 0 #E7EED9;
    border-radius: 10px 10px 10px 10px;
    font-size: 10px;
    padding: 2px 5px;
    cursor: pointer;
    font-family: "Trebuchet MS",Helvetica, Arial, sans-serif;
    color:#222222;
}

#policyList li:hover .btn, .finderwidget  .classList li:hover .btn
{
  border:  1px solid #3D453A
}

.finderwidget .classList  .btn:hover,#policyList .btn:hover
{
  color:#ff9900;
}


.alphasearch li
{
   /* margin-top: 2px;
    margin-bottom: 2px;*/
    list-style: none;
}

.alphasearch li:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.alphasearch li.selected
{
    background: none repeat scroll 0 0 #4D4D4D;
    border-radius: 2px;
    -opera-border-radius:2px;
    -khtml-border-radius:2px;
    -webkit-border-radius:2px;
    color: #FFFFFF;
}

.result li:hover
{
    background: #f1f1f1;
}

.result li.smartTextBox-elem
{
    border:none;
    padding:0;
    width:auto;
}
.result li.smartTextBox-box-elem
{
    padding:0 5px;
    background:#50574d;
}

.result li.smartTextBox-elem-box-focus
{
    background:#3d453a;
}

.result li a
{
    display:inline-block;
}

#policyList li
{
    padding:0;
}

#policyList li a
{
    display: inline;
}

#policyList li p
{
    display:inline-block;
    margin: 0;
    padding: 6px;
    width:75%;
}

.alphasearch{
    position:absolute;
    right:25px;
    top:80px;
    text-align: center;
}


.result li
{
    border-bottom:solid 1px #3d453a;
    /* height:44px;*/
    padding:12px 0;
    width:96.5%;
    list-style: none;
    overflow: hidden;
    word-wrap:break-word;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
}

/* host finder control*/
.loadinggif{
 background: url("../images/small_loader.gif") no-repeat scroll 0 50% transparent;
 margin-left: 3px;
 padding: 0 9px;
}
