.hostsCompliance .colourEntry
{
    padding: 0px;
    width: 50%;
    float: left;
}

.hostsCompliance .colourEntryIcon
{
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

.hostsCompliance .colourEntryLabel
{
    padding-left: 5px;
}

.hostsCompliance .colourEntryIcon.red
{
    background: #cc4358;
    padding: 0px;
}

.hostsCompliance .colourEntryIcon.green
{
    background: #779a62;
}

.hostsCompliance .colourEntryIcon.yellow
{
    background: #f0d76a;
}

.hostsCompliance .colourEntryIcon.blue
{
    background: #476e8c;
}