.hostsCompliance .colourEntry
{
    padding: 0px;
    float: left;
    width: 100%;
}

.hostsCompliance .colourEntryIcon
{
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

.hostsCompliance .colourEntryLabel
{
    padding-left: 5px;
    color: #476e8c;
    cursor: pointer;
}

.hostsCompliance .colourEntryIcon.red
{
    background: #cc4358;
    padding: 0px;
}

.hostsCompliance .colourEntryIcon.green
{
    background: #779a62;
}

.hostsCompliance .colourEntryIcon.yellow
{
    background: #f0d76a;
}

.hostsCompliance .colourEntryIcon.blue
{
    background: #476e8c;
}