.hostsConnectivity .colourEntry
{
    padding: 0px;
    float: left;
    width: 100%;
}

.hostsConnectivity .colourEntryIcon
{
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

.hostsConnectivity .colourEntryLabel
{
    padding-left: 5px;
    color: #476e8c;
    cursor: pointer;
}

.hostsConnectivity .colourEntryIcon.blue
{
    background: #476e8c;
}

.hostsConnectivity .colourEntryIcon.black
{
    background: #000000;
}