/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
*/

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    width: 16px;
    height: 100%;     
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 13px;
    background: transparent;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    position: relative;
    background: url("../images/jscrollpane/scroll_line.png") repeat-y 0 0;  
}

.jspDrag
{
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;

    background-image: url("../images/jscrollpane/scrollbar.gif");
    background-repeat: repeat-y;
    background-position: -21px 0;
    border-radius: 10px 10px 10px 10px;  
    width: 16px;
}


.jspTrack .jspActive, .jspTrack .jspHover, .jspDrag:hover {
    background-repeat: repeat-y;
    background-position: 0 0;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}


.jspVerticalBar .jspArrow
{
    height: 13px;
    left: 1px;
    position:relative;        
    background-repeat:  no-repeat;
}

.jspArrowUp {
    background-position: 0px 0;
    background-image:  url('../images/jscrollpane/arrows_up.gif');
}

.jspVerticalBar .jspArrowDown {
    background-position: 0px 0;
    background-image:  url('../images/jscrollpane/arrows_down.gif');
}

.jspVerticalBar .jspDisabled {
    background-position: -36px -0px !important;
    cursor: default;
}
.jspVerticalBar .jspDisabled:hover {
    cursor: default;
    background-position: -36px -0px !important;
}

.jspVerticalBar .jspArrow:hover {
    background-position: -18px -0px;
}

.jspArrow
{
    text-indent: -20000px;
    display: block;
    cursor: pointer;

    height: 13px;
    width: 13px;
}

.jspArrow.jspDisabled
{
    cursor: default;
}
/*
.jspHorizontalBar .jspArrow
{
        width: 13px;
        float: left;
        height: 100%;
}*/

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}