.user_roles_management #users_roles_form table td {
    border: none !important;
}

.user_roles_management #users_roles_form {
    border: 1px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px 5px #888;
    box-shadow: 5px 5px 5px 5px #888; 
    margin: 10px;
    background: #fff;
}

.user_roles_management #users_roles_form table {
    width: 100%;
}


.user_roles_management #users_roles_form table, 
.user_roles_management #users_roles_form table tr, 
.user_roles_management #users_roles_form table td {

    vertical-align: top;
}

#darktabs #maintable {
    border: 0 !important
}

.user_roles_management #maintable tr, 
.user_roles_management #maintable td {
    background: none! important;
    border: none;
}

.user_roles_management #edit_form_wrapper .contextfinder_wrapper {
    background: #D2DACF;
}

/*  users page */
.user_roles_management .dialog_box_style .ui-dialog .ui-dialog-content  {
    padding: 0.5em 0em 0.5em 1em;
}
.user_roles_management .dialog_box_style .itemwrapper {
    background: #fff;
    height: 225px; 
    min-height: 260px; 
    overflow-y: scroll;
    -ms-overflow-x: hidden; /*ie*/
}

.user_roles_management .dialog_box_style .itemlist li {
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 12px;
}

.user_roles_management .dialog_box_style .itemlist li:nth-child(2n){
    background: none repeat scroll 0 0 #E6EEE3;
}

.user_roles_management .dialog_box_style .ui-dialog-titlebar {
    color: #FFFFFF;
    height: 30px;
}
.user_roles_management #darktabs .ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
}

.user_roles_management .edit_cell {
    width: 45%;
}
.user_roles_management .DragNDrop {
    width: 90%;
}


.user_roles_management .selected_item {
    background: #acd2e1 !important;
    border-bottom: 1px solid #FFF !important;
}

input[readonly] {background: buttonface;}

.all_classes  .ui-resizable {
    height: 635px;
}
.empty_list {
    height: 30px;
}
.empty_list_warning {
    text-align: center
}

.dragged {
    list-style: none;
    background: lightskyblue;
    display: block;
    color: green;
    border: 3px solid #dedede;
    position: absolute !important;
    z-index: 9999 !important;
}


.arrows {
    width: 40px;
}

.arrows a {
    width: 24px;
    height: 22px;
    display: inline-block;
    background-image: url("../images/move_arrow.png");
    background-repeat: no-repeat;
    font-size: 0px;
}

arrows a.left {
    background-position: 0 0;
}

.arrows a.left:hover {
    background-position: -25px 0;
}

.arrows a.right {
    background-position: -50px 0;
}

.arrows a.right:hover {
    background-position: -75px 0;
}




