html{height: 100%;}

body
{ font-family: arial, sans-serif;
  padding: 0px;
  margin: 10px;
  font-size: 11px;;
  color: #116622;
  background: #ddd url(nova-back.png) right top repeat;
}

#wholebody
{  
width: 1000px;
border: 1px;
padding: 10px;
}

p
{ margin: 0px;
  padding: 0px 0px 6px 0px;
  line-height: 1.7em;
  font-size: 120%;
}

#menu
{ 
font-size: 110%;
font-family: helvetica;

}

#man pre
{  
font-family: courier;
font-size: 11px;
}

#logo
{  
width: 60%;
background-color: #efe ;
padding: 10px;
}

h1
{ 
font-family: arial, sans-serif;
letter-spacing: .1em;
font-weight: normal;
background-color: #fff;
color: #df9500;
padding: 10px;
}

a
{  
color: #df9500;
text-decoration: none;
}

h2
{
padding: 0px 10px 4px 10px;
font-size: 100%;
}


h4
{
padding: 6px;
font-size: 100%;
}

#url a
{  
color: #d00;
text-decoration: none;
}

a:selected
{  
color: #a00;
}

a:hover{text-decoration: underline;}

#url a:hover{text-decoration: underline;}



blockquote
{ background: #FFFFFF;
  color: #11aa22;
  border-color: #767676;
}

#intro
{
background-color: #fff; 
width: 60%;
/* border: 2px;*/
color: #11aa22;
padding: 5px;
border-color: black;
font-size: 100%;
}

#in
{
background: #ccc;
float: right;
}

#associations
{  
background-color: #eee; 
/*border: 1px solid;*/
width: 60%;
padding: 5px;
}

#ontology
{  
background-color: #fff; 
/*border: 1px solid;*/
width: 100%;
padding: 5px;
}


#occurrences
{  
background-color: #fff; 
/*border: 1px solid;*/
width: 60%;
padding: 5px;
}


#others
{  
background-color: #eee; 
/*border: 1px solid;*/
width: 60%;
padding: 5px;
}

#roles
{  
background-color: #fff; 
margin-left: 20px;
border: 1px solid;
width: 460px;
padding: 5px;
}


#thistype
{  
background-color: #eee; 
/*border: 1px solid;*/
width: 60%;
padding: 5px;
}


blockquote
{ 
background: #FFFFFF;
  color: #11aa22;
  border-color: #767676;
}


#banner li
{
margin 0px;
background-color: #ccc;
  list-style-type: none;
  list-style-image: none;
float: left;
width: 14em;
}

#banner li ul 
{ 
display:none;
} 

#banner li:hover ul
{ 
margin: 0px;
padding: 0px 0px 0px 0px;
 
display: block;
width: 14em;
position: absolute;
border: 1px;
background-color: #efe;
  list-style-type: none;
  list-style-image: none;

}

#banner ul li a
{
margin: 0px;
padding: 0px 0px 0px 0px;
  display: block;
  width: 14em;
  height: 24px;
  padding: 4px 0 0;
  text-align: left;
  text-decoration: none;
}

#banner ul li a:hover
{
background: #FFFFFF url(/img/menu_hover_in.png);
  color: #000;
  background-color: #dfe;
  text-decoration: none;
  color: #307070;
  list-style-type: none;
  list-style-image: none;

}


#banner ul li a.selected, #navigation ul li a.selected:hover
{
  color: #fff;
}

#banner ul li a.selected:hover
{
color: #000;
}

#image
{ 
width: 35%;
float: right; 
}

#image img
{  
width: 100%;
float: right;
border: solid 0px;
margin-left: 10px;
margin-bottom: 10px;
}

#top
{
margin: 5px;
background: #908c76 url(Knowledgebackground.png);
}

#top li
{ 
width: 150;
}

#search
{ 
float: right; 
 padding: 18px 15px 0px 0px;
}


/* footer */
#footer
{ 
width: 95%;
height: 42px;
padding: 26px 21px 0px 19px;
text-align: center; 
border-top: 2px solid #F2F2F0;
background: #BDB9B2 url(../img/menu.png) repeat;
color: #444;
margin-top: 10px;
}

#footer a
{ background: transparent;
  color: #FFF;
}

#footer a:hover
{
margin: 10px;
 background: transparent;
  color: #555;
}

/* ------------------------------------------------*/

#graph{ padding: 5px; }

#graph img
{ 
padding: 5px;
background-color: grey;
}

#histoanalysis
{
padding: 10px;
background-color: #eee;
}

#weekanalysis table
{
padding: 5px;
background-color: #eee;
}

#weekanalysis tr td
{
padding: 5px;
background-color: #eee;
}

#maganalysis
{  
padding: 5px;
background-color: #eee;
}

/* ------------------------------------------------*/

#legend
{ 
width: 610px;
background-color: white;
}

#primary
{  
left: 3px;
top: 6px;
width: 60%;
height:400px;
}

#reporttext
{ 
width: 100%;
}

#primary ul
{
padding: 15px;
list-style-type: none;
list-style-image: none;
border: none;
}


#primary td
{
font-size: 12px;
padding: 10px;
font-weight: bold;


}

#primary td:hover
{ 
font-weight: bold;
background-color: #fff;
}

#primary th
{
padding: 10px;
font-weight: bold;
}

#primary th a
{
color: #0a5;
font-size: 80%;
padding: 10px;
font-weight: bold;
}


#primary th:hover
{ 
font-weight: bold;
background-color: #df9500;
}

#primary table
{
width: 100%;
}

#explain table
{ 
margin-left: 100px;
width: 300px;
border-color: #4e8b8c;
border-style: solid;
border-width: 1px;
}

#explain td
{ 
background-color: #f5dd70;
font-size: 8px;
font-weight: normal;
}

#directory td
{
background-color: lightblue;
}

#showvars TH { background: #aabbFF;
     font-family: Verdana, Arial, Helvetica, sans-serif;
     color: darkblue;
  font-size: 8pt;
   }

#showvars TD { color: #000000;
     background: #fff;
     font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
     padding: 5px;
   }

#showvars PRE { font-family: "Lucida Typewriter", "Courier", monotype;
      font-style: normal;
     font-size: 8pt;
background-color: #eee;
    }

#signalred td
{  
background-color: red;
}

#signalyellow td
{  
background-color: yellow;
}

#signalgreen td
{  
background-color: green;
}

table.border
{ 
width: 1000px;
background-color: white;
color: #555;
  border-color: #4e8b8c;
  border-style: solid;
  border-width: 1px;
}


#bundle
{
background-color: #eee;
padding: 10px;
}

#nav
{  
margin-bottom: 20px;
}



#ok
{ 
padding: 1px;
color: #090;; 
}

#warning
{  
background-color: white;
color: #f00;
}



.lval
{  
color:  #119922;
}

.rval
{ 
color: #a00;

}

.bodytype 
{ 
color: #060;
font-weight: bold;
}

.bodyname 
{ 
color: #a00;
font-weight: bold;
}

.args 
{ 
color: #966;
font-weight: bold;
}

.context
{ 
color: #00a;
font-weight: bold;
}

