
.cm-s-default span.cm-cf-comment {color: #A33;}
.cm-s-default span.cm-cf-string {color: #22C;}
.cm-s-default span.cm-cf-keyword {color: #80B;}
.cm-s-default span.cm-cf-section {color: #292;}
.cm-s-default span.cm-cf-error {color: #F00;}
.cm-s-default span.cm-cf-name {}
.cm-s-default span.cm-cf-punc {}




