html{height: 100%;}

img { border: none;  }

body
{ font-family: DejaVuSans,Vera,Arial,sans-serif;
  padding: 0px;
  margin: 10px;
  font-size: 11px;;
  color: #116622;
  background: #4b4b42;
}

#wholebody
{  
width: 1000px;
border: 1px;
padding: 10px;
}

p
{ margin: 0px;
  padding: 0px 0px 6px 0px;
  line-height: 1.7em;
  font-size: 120%;
}

#menu
{ 
font-size: 110%;
font-family: DejaVuSans,Vera,Arial,sans-serif;
}

#man pre
{  
font-family: courier;
font-size: 11px;
}

#logo
{  
width: 60%;
background-color: #efe ;
padding: 10px;
}

table
{  
border: none;
}

h1
{ 
font-family: DejaVuSans,Vera,Aria,sans-serifl;
font-weight: normal;
background-color: #30302a;
color: #73b167;
padding: 10px;
}

a
{  
color: #07c;
text-decoration: none;
}

h2
{
padding: 0px 10px 4px 10px;
font-size: 120%;
}

h3
{
padding: 0px 10px 4px 10px;
font-size: 120%;
background-color: #fff;
}


h4
{
padding: 6px;
font-size: 100%;
}

#url a
{  
color: #d00;
text-decoration: none;
}

#advancedquery
{ 
color: white;
font-size: 140%;
}


#a:hover{text-decoration: underline;}

#url a:hover{text-decoration: underline;}

blockquote
{ 
background: #FFFFFF;
color: #11aa22;
border-color: #767676;
}

#showpromise tr td
{  
background-color: #fff;
}

#showbundle tr td
{  
background-color: #fff;
}


#bundles
{  
background-color: #fff; 
padding: 0px;
border: 0px;
}

#bundles tr td
{  
background-color: #fff; 
padding: 10px;
}


#promise
{  
background-color: #fff; 
padding: 0px;
}

#promise table
{  
padding: 10px;
}

#promise table tr td
{  
background-color: #fff; 
padding: 3px;
border: none;
}

#promiser
{
color: #a00;
font-weight: bold;
}

#bundletype
{  
color: #0077bb;
}

#bundle
{  
color: #3000ff;
}

#file
{  
color: #008f0a;
}

#intro
{
background-color: #fff; 
width: 60%;
/* border: 2px;*/
color: #11aa22;
padding: 5px;
border-color: black;
font-size: 100%;
}

#disambig
{
background-color: #fff; 
width: 100%;
/* border: 2px;*/
color: #11aa22;
padding: 5px;
border-color: black;
font-size: 100%;
}

#in
{
background: #ccc;
float: right;
}

#associations
{  
color: #30302a;
background-color: white; 
/*border: 1px solid;*/
width: 100%;
padding: 5px;
}

#ontology
{  
background-color: #fff; 
/*border: 1px solid;*/
width: 100%;
padding: 5px;
}

#topic
{ 
color: #30302a;
background-color: white;
width: 45%;
font-size: 120%;
padding: 5px;
margin-top: 10px;
}

#topic p
{ 
color: #30302a;
background-color: white;
width: 100%;
font-size: 100%;
padding: 5px;
margin-top: 10px;
}

#subheading b
{  
color: #73b167;
}

#occurrences
{  
background-color: #fff; 
color: #30302a;
width: 100%;
padding: 5px;
}


#others
{  
color: #30302a;
background-color: #fff; 
/*border: 1px solid;*/
width: 100%;
padding: 5px;
}

#roles
{  
background-color: #fff; 
margin-left: 20px;
border: 1px solid;
width: 460px;
padding: 5px;
}


#thistype
{  
background-color: #eee; 
/*border: 1px solid;*/
width: 100%;
padding: 5px;
}


blockquote
{ 
background: #FFFFFF;
color: #11aa22;
border-color: #767676;
}

#tab li a
{ 
color:#4b4b42;
background-color:#fff; 
}

#banner li a
{
padding: 2px;
color: white;
background-color: #4b4b42;
float: left;
width: 14em;
border: 1px;
font-size: 120%;
text-decoration: none;
}

#banner ul
{ 
list-style-type: none;
list-style-image: none;
border: 1px;
background-color: #fff;
} 

#status ul li
{  
font-size: 120%;
padding: 5px;
}

#status img
{ 
padding: 20px;
}

#image
{ 
background-color: #fff;
padding: 10px;
}

#image img
{  
width: 800px;
border: none;
}

#embedded_image a img
{  
border: solid 0px;
}

#top
{
margin: 5px;
background-color: #30302a;
}

#top li
{ 
width: 150px;
}

#keyhash
{  
font-size: 70%;
}

#search
{ 
color: #fff;
float: right; 
padding: 18px 15px 0px 0px;
}


#top h2
{  
padding: 15px;
color: white;
font-size: 160%;
font-weight: normal;
}

/* footer */
#footer
{ 
position: relative;
width: 100%;
height: 22px;
padding: 10px;
text-align: center; 
border-top: 2px solid #F2F2F0;
background: #30302a;
color: white;
margin-top: 10px;
clear: both;
display: none;
}

#footer a
{ background: transparent;
  color: #FFF;
}

#footer a:hover
{
margin: 10px;
 background: transparent;
  color: #555;
}

/* ------------------------------------------------*/

#graph{ padding: 5px; }


#histoanalysis
{
padding: 10px;
background-color: #9d9777;
color: #efeacc;
}

#weekanalysis table
{
padding: 5px;
background-color: #9d9777;
color: #efeacc;
}

#weekanalysis tr td
{
padding: 5px;
background-color: #9d9777;
color: #efeacc;
}

#maganalysis
{  
padding: 5px;
background-color: #9d9777;
color: #efeacc;
}

#longhistory
{  
padding: 5px;
background-color: #9d9777;
}

/* ------------------------------------------------*/

#legend
{ 
width: 610px;
background-color: white;
}

#info
{  
color: #484842;
font-size: 120%;
}

#info ul
{ 
margin-top: 10px;
 }

#info li
{  
padding: 7px;
}

#meter img
{  
padding: 5px;
}

#primary
{  
left: 3px;
top: 6px;
width: 100%;
height:400px;
}


#primary h2
{
padding: 0px 10px 4px 10px;
font-size: 120%;
}


#primary h4
{
padding: 6px;
font-size: 100%;
background-color: #fff;
}

#reporttext
{ 
width: 100%;
}

#reporttext h4
{  
background-color: #fff;
padding: 5px;
}


#reporttext table
{  
width: 100%
}

#reporttext a
{  
color: #07c;
}



#primary table
{
background-color: white;
width: 100%;
}


#primary ul
{
padding: 15px;
list-style-type: none;
list-style-image: none;
border: none;
}


#primary td
{
font-size: 12px;
padding: 5px;
background-color: #f0f0eb;
color: #4c4c43;
border: solid 1px;
border-color: #cecec7;
}

#primary th
{
padding: 10px;
background-color: #f0f0eb;
color: #4c4c43;
border: solid 1px;
border-color: #cecec7;
}

#explain table
{ 
margin-left: 100px;
width: 300px;
border-color: #4e8b8c;
border-style: solid;
border-width: 1px;
}

#explain td
{ 
background-color: #7d7757;
font-size: 8px;
font-weight: normal;
}


#rbuttons a
{  
padding: 10px;
}

#showvars TH 
{ background: #aabbFF;
font-family: DejaVuSans,Vera,Arial,sans-serif;
font-size: 8pt;
}

#showvars TD { color: #000000;
     background: #fff;
     font-family: DejaVuSans,Vera,Arial;
  font-size: 8pt;
     padding: 5px;
   }

#showvars PRE { font-family: "Lucida Typewriter", "Courier", monotype;
      font-style: normal;
      font-size: 8pt;
      background-color: #eee;
    }

#signalred table
{  
background-color: #d02d48;
padding: 0px;
border: 0px;
}


#signalred td
{  
color: #4c4c43;
background-color: #d02d48;
border: none;
}

#allhosts p
{  
font-size: 80%;
}

#allhosts img
{  
float: left;
padding: 10px;
}

#allhosts table
{  
table-layout: fixed;
width: 100%;
}

#signalyellow table
{  
background-color:  #f2ee86;
padding: 0px;
border: 0px;
}

#signalyellow td
{  
color: #4c4c43;
background-color: #f2ee86;
}

#signalgreen table
{  
color: #4c4c43;
background-color: #73b167;
}

#signalgreen td
{  
color: #4c4c43;
background-color: #73b167;
}

#allhosts td
{ 
background-color: white;
}

#signalred a
{
color: red;
padding: 10px;
line-height: 110%;
}

#signalyellow a
{  
color: yellow;
padding: 10px;
line-height: 110%;
}

#signalgreen a
{  
color: green;
padding: 10px;
line-height: 110%;
}


#nav
{  
margin-bottom: 20px;
}

#directory img
{  
float: left;
margin-left: 20px;
}

#directory td
{  
font-size: 60%;
padding: 0px;
}

#ok
{
width: 100%;
background-color: white;
padding: 0px;
color: #090;; 
}

#warning
{  
width: 780px;
padding: 0px;
background-color: white;
color: #f00;
}



#lval
{  
color:  #119922;
}

#rval
{ 
color: #a00;

}

#bodytype 
{ 
color: #060;
font-weight: bold;
}

#bodyname 
{ 
color: #3000ff;
font-weight: bold;
}

#args 
{ 
color: #966;
font-weight: bold;
}

#classcontext
{ 
color: #3000ff;
font-weight: bold;
}

#change
{
width: 80%;  
font-family: courier;
color: blue;
}

#line
{
font-family: courier;
color: red;
}

#handle
{  
font-weight: bold;
color: #a00;
}

#promisee
{  
font-weight: bold;
color: #a00;
}

#subtype
{  
font-weight: bold;
color: #0077bb;
}

#pm
{  
font-family: courier;
}


#below
{  
font-family: DejaVuSans,Vera,Arial,sans-serif;
background-color: #6cb150;
padding: 5px;
}

#above
{  
font-family: DejaVuSans,Vera,Arial,sans-serif;
background-color: #bd3a2b;
padding: 5px;
}

#last
{  
font-family: DejaVuSans,Arial,sans-serif;
background-color: #f2ca77;
padding: 5px;
}

#subject
{
font-size: 130%;
color: #9e9e97;
 }

#category
{
font-size: 110%;
color: #4c4c43;
text-decoration: none;
}

#selector
{ 
color: white;
background-color: #30302a;
font-size: 120%;
font-family: DejaVuSans,Vera,Arial,sans-serif;
}


#selector table
{ 
background-color: #30302a ;
border: 0px;
}

#selector td
{ 
color: white;
background-color: #30302a;
font-size: 100%;
font-family: DejaVuSans,Vera,Arial,sans-serif;
}

#selector li
{  
padding: 4px;
}


#selector a
{ 
color: lightyellow; //#f2eef6; 
font-size: 100%;
font-family: DejaVuSans,Vera,Arial,sans-serif;
}

#example h1
{  
 font-family: DejaVuSans,Vera,Arial,sans-serif;
 
}

#example pre
{ 
background-color: #fff;
color: #484842;
padding: 10px;
}

#top p
{
	float:right;
	color:#FFF;
}

#top input
{
	margin-top:20px;
}

.clear_right
{
	clear:both;
}

/*For editor Page*/
#leftPanel
{
	height:400px;
	width:250px;
	background:#4b4b41;
}

.ui-layout-toggler-west-open { background: url(../Images/toggle-lt.gif) no-repeat center right; }
.ui-layout-toggler-west-closed {background: url(../Images/toggle-lt-open.gif) no-repeat center right;}

#rightPanel
{
	background:#4b4b41;
}

#syntax_check_area
{
	background:#ffffff;
	width:95%;
	height:200px;
	margin-top:50px;
}



#Policies
{
	background:#e8eaf9;
	margin-left:15px;
	width:225px;
	margin-top:25px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
}

#Policies .title
{
  color:#333331;
  text-align:center;
  font-size:16px;
  font-family:Verdana, Geneva, sans-serif;
  padding:5px 5px 5px 5px;
}

#menu
{
	background:#fff;
	margin-left:15px;
	width:225px;
	margin-top:25px;
	height:275px;
	-moz-border-radius: 8px;
        -webkit-border-radius: 8px;
	padding-top:10px;

}

.menuitem
{
 font-size:14px;
 font-family:Verdana, Geneva, sans-serif;
 padding:1px 5px 1px 10px;
 display:block;
}



#help-panel .links
{
	margin-top:5px;
}

#menu .shortcuts
{
	margin-top:10px;
}
#help-panel .results 
{
	padding:5px;
	border:solid 1px #a7a7a7;
}

#menu .shortcuts span
{
	display:block;
	font:11px Verdana, Geneva, sans-serif;
	padding:2px;
	margin-left:5px;
}
#menu .links span
{
	display:block;
	color:#176ba9;
	font:12px Verdana, Geneva, sans-serif;
	padding:2px;
	margin-left:5px;
}

#help-panel .results span
{
	text-decoration:none;
	display:block;
	font:11px Verdana, Geneva, sans-serif;
	padding:2px;
}


.ui-icon-close {
cursor:pointer;
float:left;
margin:0.4em 0.2em 0 0;
}

.ui-corner-bottom
{
	-moz-border-radius: 0px 8px 8px 8px;
    -webkit-border-radius: 0px 8px 8px 8px;
}

#tabs
{
	font-size:11px;
	background:#4b4b41;
	border:none;
	padding:0;
	width:95%;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#tabs ul
{
	border:none;
	padding:0;
}

#tabs div
{
	background:#ffffff;
}

/*for save dialog*/
#dialog
{
	font-size:12px;
}
div.ui-dialog-buttonpane
{
	font-size:12px;
}
#dialog label, #dialog input { display:block; }
#dialog label { margin-top: 0.5em; }
#dialog input, #dialog textarea { width: 95%; } 

/*for left side pane list*/
#policies_list
{
	margin:5px 0 0 20px;
	padding:0;
	list-style:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#333331;
	
}

#policies_list li
{
	padding:2px 2px;
}

#policies_list li a
{
	text-decoration:none;
}

#sfdialog
{
	font-size:14px;
}

#confirmation
{
	font-size:14px;
}

#footer
{
	color:#9AD38F;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
}

#spinner
{
	z-index:10;
}

.searchframe
{
	border:none;
	width:100%;
	height:100%;
}


.icontext
{
vertical-align:middle;
}


