/* Experimental Engineering Page */
.engineeringContainer
{
    border: solid 1px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*background: #fff; */
    color: #4d4d4d;
    margin: 0px;
    padding: 15px;
}

.engineeringContainer .engineeringNavigationContainer
{
    /*border: solid 1px #d4d5d0;*/
    border: solid 1px #aaa;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    color: #4d4d4d;
    margin: 0px;
    padding: 0px;
}

.engineeringContainer .engineeringStatusContainer
{
    color: #4d4d4d;
    margin: 0px;
}
.engineeringContainer .ui-tabs .ui-tabs-panel {
    padding: 15px;
}

.engineeringContainer .engineeringStatusContainer .hostsComplianceTimeseriesContainer
{
    margin-top: 15px;
    padding: 15px;
    border: solid 1px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #4d4d4d;
}

.engineeringContainer .engineeringStatusContainer .hostsInfoContainer
{
    margin-top: 15px;
    padding: 15px;
    border: solid 1px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
}

.engineeringContainer .engineeringStatusContainer .hostsComplianceContainer
{
    float: left;
    width: 50%;
}

.engineeringContainer .engineeringStatusContainer .hostsConnectivityContainer
{
    float: left;
    width: 50%;
}

#treeReportContentMenuFilter{
   padding-right: 10px;
}

.engineeringContainer #tab-1, 
.engineeringContainer #tab-2 {
    min-height: 442px;
}