/* Experimental Engineering Page */

.engineeringContainer
{
    border: solid 1px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    color: #4d4d4d;
    margin: 0px;
    padding: 15px;
}

.engineeringContainer .engineeringNavigationContainer
{
    border: solid 1px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    color: #4d4d4d;
    margin: 0px;
    padding: 0px;
}

.engineeringContainer .engineeringContentContainer
{
    border: solid 1px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    color: #4d4d4d;
    margin: 0px;
    padding: 15px;
}

.engineeringContainer .engineeringContentContainer .hostsComplianceTimeseriesContainer
{
    margin-top: 15px;
    padding: 15px;
    border: solid 1px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #4d4d4d;
}

.engineeringContainer .engineeringContentContainer .hostsComplianceContainer
{
    margin-top: 15px;
    padding: 15px;
    border: solid 1px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
}

.engineeringContainer .engineeringContentContainer .hostsConnectivityContainer
{
    margin-top: 15px;
    padding: 15px;
    border: solid 1px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
}

.engineeringContainer .engineeringContentContainer .hostInfoContainer
{
    margin-top: 15px;
    padding: 15px;
    border: solid 1px #d4d5d0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
}